@mixin opacity($value) {
  -moz-opacity: $value;
  -webkit-opacity: $value;
  -ms-opacity: $value;
  -o-opacity: $value;
  opacity: $value;
}

@mixin transform($how) {
  -moz-transform: $how;
  -webkit-transform: $how;
  -o-transform: $how;
  -ms-transform: $how;
  transform: $how;
}

@mixin transition($how...) {
  -moz-transition: $how;
  -webkit-transition: $how;
  -o-transition: $how;
  -ms-transition: $how;
  transition: $how;
}

@mixin filter($filter...) {
  -moz-filter: $filter;
  -webkit-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
  filter: $filter;
}

@mixin transform-origin($how) {
  -moz-transform-origin: $how;
  -webkit-transform-origin: $how;
  -o-transform-origin: $how;
  -ms-transform-origin: $how;
  transform-origin: $how;
}

@mixin transform-style($how) {
  -moz-transition-style: $how;
  -webkit-transition-style: $how;
  -o-transition-style: $how;
  -ms-transition-style: $how;
  transition-style: $how;
}

@mixin backface-visibility($backface-visibility...) {
  -moz-backface-visibility: $backface-visibility;
  -webkit-backface-visibility: $backface-visibility;
  -o-backface-visibility: $backface-visibility;
  -ms-backface-visibility: $backface-visibility;
  backface-visibility: $backface-visibility;
}

@mixin perspective-origin($perspective-origin...) {
  -moz-perspective-origin: $perspective-origin;
  -webkit-perspective-origin: $perspective-origin;
  -o-perspective-origin: $perspective-origin;
  -ms-perspective-origin: $perspective-origin;
  perspective-origin: $perspective-origin;
}

@mixin perspective($perspective...) {
  -moz-perspective: $perspective;
  -webkit-perspective: $perspective;
  -o-perspective: $perspective;
  -ms-perspective: $perspective;
  perspective: $perspective;
}

@mixin animation-timing-function($animation-timing-function...) {
  -moz-animation-timing-function: $animation-timing-function;
  -webkit-animation-timing-function: $animation-timing-function;
  -o-animation-timing-function: $animation-timing-function;
  -ms-animation-timing-function: $animation-timing-function;
  animation-timing-function: $animation-timing-function;
}

@mixin animation($animation...) {
  -moz-animation: $animation;
  -webkit-animation: $animation;
  -o-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
