$effeckt-transition-duration: 300ms !default;

$effeckt-modal-transition-duration: $effeckt-transition-duration !default;
$effeckt-modal-perspective: 600px !default;
$effeckt-modal-min-width: 630px;
$effeckt-modal-max-width: 320px;
$effeckt-modal-z-index: 2000;
