<div class="effeckt effeckt-captions group">

  <header>
    <h2>
      Captions
      <a href="captions.html">#</a>
    </h2>
  </header>

  <div class="all-captions-wrap">

  <!-- Quarter Show -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-quarter-show">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Show</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Quarter Slide Up -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-quarter-slide-up">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Quarter Slide Up</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Quarter Slide Right -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-quarter-slide-right">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Quarter Slide Right</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Quarter Fall from Right -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-quarter-fall-right">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Quarter Fall from Right</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Quarter Slide Left/Right -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-quarter-slide-left-right">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Quarter Slide Left/Right</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Quarter Scale In/Out -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-quarter-scale-in-out">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Quarter Scale In/Out</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Cover Fade -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-cover-fade">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Cover Fade</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Cover Push Right -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-cover-push-right">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Cover Push Right</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Cover Slide Top -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-cover-slide-top">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Cover Slide Top</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Flip Card -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-flip-card">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Flip Card</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Caption Offset to Right/Bottom-->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-offset-right-bottom">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Caption Offset to Right/Bottom</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Reavel Up -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-reveal-up">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Reavel Up</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Half Slide Up -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-slide-half-up">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Half Slide Up</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Sqkwoosh -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-sqkwoosh">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Sqkwoosh</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <!-- Tunnel -->
  <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-tunnel">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Tunnel</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>
  
  </div>

</div>
