<div class="effeckt effeckt-captions group">

  <header>
    <h2>
      Captions
      <a href="captions.html">#</a>
    </h2>
  </header>

  <div class="all-captions-wrap">

  <figure class="effeckt-caption effeckt-caption-1">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Appear</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-2">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Slide Up</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-3">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Sqkwoosh</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-4">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Slide Side</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-5">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Cover</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-6">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Fall in</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-7">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Two-step</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-8">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Move</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-9">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Scale</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  <figure class="effeckt-caption effeckt-caption-10">
    <img src="http://placehold.it/300x200" alt="">
    <figcaption>
      <div class="effeckt-figcaption-wrap">
        <h3>Flip</h3>
        <p>Lorem ipsum dolar.</p>
      </div>
    </figcaption>
  </figure>

  </div>

</div>
