<div class="effeckt effeckt-demo-form-elements">

  <header>
    <h2>
      Form Elements
      <a href="form-elements.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <!-- Checkboxes -->
  <!-- http://codepen.io/uquaisse/pen/Jqhte -->
  <h3>Checkbox</h3>
  <input type="checkbox" class="effeckt-ckbox-ios7">
  <input type="checkbox" class="effeckt-ckbox-ios7" checked>

  <!-- Radios -->
  <!-- http://codepen.io/uquaisse/pen/Jqhte -->
  <h3>Radio</h3>
  <input type="radio" name="group" class="effeckt-rdio-ios7">
  <input type="radio" name="group" class="effeckt-rdio-ios7" checked>
  <input type="radio" name="group" class="effeckt-rdio-ios7">

  <!-- Android Checkboxes -->

  <h3>Android Checkbox</h3>
  <input type="checkbox" class="effeckt-ckbox-android">
  <input type="checkbox" class="effeckt-ckbox-android" checked>

  <!-- Android Radios -->

  <h3>Android Radio</h3>
  <input type="radio" name="group2" class="effeckt-rdio-android">
  <input type="radio" name="group2" class="effeckt-rdio-android" checked>
  <input type="radio" name="group2" class="effeckt-rdio-android">

</div>