<section class="effeckt-demo-modals">
  {{>modals}}
</section>

<section class="effeckt-demo-positional-modals">
  {{>positional-modals}}
</section>

<section class="effeckt-demo-buttons">
  {{>buttons}}
</section>

<section class="effeckt-demo-list-items">
  {{>list-items}}
</section>

<section class="effeckt-demo-list-scroll">
  {{>list-scroll}}
</section>

<section class="effeckt-demo-off-screen-nav">
  {{>off-screen-navs}}
</section>

<section class="effeckt-demo-page-transitons">
  {{>page-transitions}}
</section>

<section class="effeckt-demo-captions">
  {{>captions}}
</section>

<section class="effeckt-demo-tooltips">
  {{>tooltips}}
</section>

<section class="effeckt-demo-form-elements">
  {{>form-elements}}
</section>

<section class="effeckt-demo-tabs">
  {{>tabs}}
</section>