<!-- #Modals -->
<section class="effeckt-demo-modals">
  <header>
    <h1>§Modals</h1>
  </header>
  {{>modals-1}}
  {{>modals-2}}
</section>

<!-- #Buttons -->
<section class="effeckt-demo-modals">
  <header>
    <h1>§Buttons</h1>
  </header>
  {{>buttons-1}}
</section>

<!-- #Reveals -->
<section class="effeckt-demo-modals">
  <header>
    <h1>§Reveals</h1>
  </header>
  {{>listitems-1}}
  {{>toggles}}
</section>
