<section class="effeckt-demo-modals">
  {{>modals}}
</section>

<section class="effeckt-demo-modals">
  {{>buttons}}
</section>

<section class="effeckt-demo-modals">
  {{>listitems}}
</section>
