<section class="effeckt-demo-modals">
  {{>modals}}
</section>

<section class="effeckt-demo-buttons">
  {{>buttons}}
</section>

<section class="effeckt-demo-list-items">
  {{>listitems}}
</section>

<section class="effeckt-demo-off-screen-nav">
  {{>off-screen-nav}}
</section>
