<div class="effeckt effeckt-demo-grid-loading group">

  <header>
    <h2>
      Grid Loading
      <a href="lazy-loading.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://tympanus.net/Development/GridLoadingEffects/index.html">
        tympanus
      </a>
    </span>
  </header>

  <div class="effeckt-lazy-loading-wrapper">
    <div class="effeckt-lazy-loading-options">
        <form>
            <input type="radio" id="fade" name="effeckt-type" value="fade"><label for="fade">Fade</label>
            <input type="radio" id="slide-up" name="effeckt-type" value="slide-up"><label for="slide-up">Slide Up</label>
            <input type="radio" id="scale-up" name="effeckt-type" value="scale-up"><label for="scale-up">Scale Up</label>
            <input type="radio" id="scale-down" name="effeckt-type" value="scale-down"><label for="scale-down">Scale Down</label>
            <input type="radio" id="fall" name="effeckt-type" value="fall"><label for="fall">Fall</label>
            <input type="radio" id="fly" name="effeckt-type" value="fly"><label for="fly">Fly</label>
            <input type="radio" id="sign-3d" name="effeckt-type" value="sign-3D"><label for="sign-3d">Sign 3D</label>
            <input type="radio" id="helix" name="effeckt-type" value="helix"><label for="helix">Helix</label>
            <input type="radio" id="popup" name="effeckt-type" value="popup" checked><label for="popup">Pop up</label>
        </form>
    </div>
    <ul data-effeckt-type="popup" class="effeckt-lazy-loading" data-effeckt-needs-perspective="true">
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
        <li class="effeckt-lazy-loading-element"><a href="#">ELEMENT</a></li>
      </ul>
  </div>

</div>