<div class="effeckt effeckt-demo-listitems-1 group">

  <header>
    <h2>
      List Items
      <a href="listitems.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://css-tricks.com/transitional-interfaces-coded/">
        CSS-Tricks
      </a>
    </span>
  </header>

  <div class="effeckt-list-wrap" style="padding-right: 20px;">
    <h4>Gap, Slide In/Slide Out</h4>
    <ul class="effeckt-list" data-type="pop-in">
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>
    <button class="add">Add</button>
    <button class="remove">Remove</button>
  </div>

  <div class="effeckt-list-wrap">
    <h4>Expand In/Shrink Out</h4>
    <ul class="effeckt-list" data-type="expand-in">
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>
    <button class="add">Add</button>
    <button class="remove">Remove</button>
  </div>

  <div class="effeckt-list-wrap" style="padding-right: 20px;">
    <h4>Todo: Wobble In/Wobble Out</h4>
    <ul class="effeckt-list" data-type="wobble-in">
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>
    <button class="add">Add</button>
    <button class="remove">Remove</button>
  </div>

  <div class="effeckt-list-wrap" style="padding-right: 20px;">
    <h4>Flip In/Flip Out</h4>
    <ul class="effeckt-list" data-type="flip-in">
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>
    <button class="add">Add</button>
    <button class="remove">Remove</button>
  </div>

</div>
