<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Modals
      <a href="modals.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/">
        Codrops
      </a>
    </span>
  </header>

  <div class="button-group">
    <button class="effeckt-modal-button" data-effeckt-type="from-below">From Below</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-above">From Above</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-top">Slide In (top)</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-right">Slide In (right)</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-bottom">Slide In (bottom)</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-left">Slide In (left)</button>
    <button class="effeckt-modal-button" data-effeckt-type="newspaper">Newspaper</button>
    <button class="effeckt-modal-button" data-effeckt-type="side-fall" data-effeckt-needs-hide-class="true">Side Fall</button>
    <button class="effeckt-modal-button" data-effeckt-type="sticky-up">Sticky Up</button>
    <button class="effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">3D Flip (horizontal)</button>
    <button class="effeckt-modal-button" data-effeckt-type="flip-vertical-3D">3D Flip (vertical)</button>
    <button class="effeckt-modal-button" data-effeckt-type="sign-3D">3D Sign</button>
    <button class="effeckt-modal-button" data-effeckt-type="just-me">Just Me</button>
    <button class="effeckt-modal-button" data-effeckt-type="slit-3D" data-effeckt-needs-hide-class="true">3D Slit</button>
    <button class="effeckt-modal-button" data-effeckt-type="rotate-from-bottom-3D">3D Rotate Bottom</button>
    <button class="effeckt-modal-button" data-effeckt-type="rotate-from-left-3D">3D Rotate In Left</button>
    <button class="effeckt-modal-button" data-effeckt-type="blur">Blur</button>

    <button class="effeckt-modal-button" data-effeckt-type="let-me-in" data-effeckt-needs-perspective="true" data-needs-hide-class="true">Let Me In</button>
    <button class="effeckt-modal-button" data-effeckt-type="make-way" data-effeckt-needs-perspective="true" data-needs-hide-class="true">Make Way!</button>
    <button class="effeckt-modal-button" data-effeckt-type="deep-content" data-effeckt-needs-perspective="true">Deep Content</button>
    <button class="effeckt-modal-button" data-effeckt-type="slip-in-from-top" data-effeckt-needs-perspective="true" data-needs-hide-class="true">Slip From Top</button>

    <button class="effeckt-modal-button" data-effeckt-type="tilt-fall" data-effeckt-needs-hide-class="true">From Top, Tilt Fall</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-top-to-bottom" data-effeckt-needs-hide-class="true">From Top to Bottom</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-top-to-top" data-effeckt-needs-hide-class="true">From Top to Top</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-bottom-to-top" data-effeckt-needs-hide-class="true">From Bottom to Top</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-bottom-to-bottom" data-effeckt-needs-hide-class="true">From Bottom to Bottom</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-left-to-right" data-effeckt-needs-hide-class="true">From Left to Right</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-left-to-left" data-effeckt-needs-hide-class="true">From Left to Left</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-right-to-left" data-effeckt-needs-hide-class="true">From Right to Left</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-right-to-right" data-effeckt-needs-hide-class="true">From Right to Right</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-above-to-below">From Above to Below</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-above-to-above">From Above to Above</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-below-to-above" data-effeckt-needs-hide-class="true">From Below to Above</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-below-to-below" data-effeckt-needs-hide-class="true">From Below to Below</button>
    <button class="effeckt-modal-button" data-effeckt-type="shake" data-effeckt-needs-hide-class="true">Shake</button>
    <button class="effeckt-modal-button" data-effeckt-type="bounce" data-effeckt-needs-hide-class="true">Bounce</button>
    <button class="effeckt-modal-button" data-effeckt-type="pulse" data-effeckt-needs-hide-class="true">Pulse</button>
    <button class="effeckt-modal-button" data-effeckt-type="wobble" data-effeckt-needs-hide-class="true">Wobble</button>
    <button class="effeckt-modal-button" data-effeckt-type="swing" data-effeckt-needs-hide-class="true">Swing</button>
    <button class="effeckt-modal-button" data-effeckt-type="tada" data-effeckt-needs-hide-class="true">Tada</button>
  </div>

</div>
