<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Modals
      <a href="modals.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/">
        Codrops
      </a>
    </span>
  </header>

  <button class="modal2-button" data-modal-type="modal-1">From Below</button>
  <button class="modal2-button" data-modal-type="modal-5">From Above</button>
  <button class="modal2-button" data-modal-type="modal-2">Slide In (right)</button>
  <button class="modal2-button" data-modal-type="modal-3">Slide In (bottom)</button>
  <button class="modal2-button" data-modal-type="modal-4">Newspaper</button>
  <button class="modal2-button" data-modal-type="modal-6">Side Fall</button>
  <button class="modal2-button" data-modal-type="modal-7">Sticky Up</button>
  <button class="modal2-button" data-modal-type="modal-8">3D Flip (horizontal)</button>
  <button class="modal2-button" data-modal-type="modal-9">3D Flip (vertical)</button>
  <button class="modal2-button" data-modal-type="modal-10">3D Sign</button>
  <button class="modal2-button" data-modal-type="modal-12">Just Me</button>
  <button class="modal2-button" data-modal-type="modal-13">3D Slit</button>
  <button class="modal2-button" data-modal-type="modal-14">3D Rotate Bottom</button>
  <button class="modal2-button" data-modal-type="modal-15">3D Rotate In Left</button>
  <button class="modal2-button" data-modal-type="modal-16">Blur</button>

  <button class="modal2-button" data-modal-type="modal-17" data-needs-perspective="true">Let Me In</button>
  <button class="modal2-button" data-modal-type="modal-18" data-needs-perspective="true">Make Way!</button>
  <button class="modal2-button" data-modal-type="modal-19" data-needs-perspective="true">Slip From Top</button>

  <button class="modal2-button" data-modal-type="modal-20" data-hide-class="true">From Top, Tilt Fall</button>
  <button class="modal2-button" data-modal-type="modal-22" data-hide-class="true">From Top to Bottom</button>
  <button class="modal2-button" data-modal-type="modal-23" data-hide-class="true">From Bottom to Bottom</button>
  <button class="modal2-button" data-modal-type="modal-24" data-hide-class="true">From Top to Top</button>


</div>
