<div class="effeckt effeckt-demo-modals-1">
  <h2>
    Modals 1
    <a href="http://codepen.io/chriscoyier/pen/EGbxc">(source)</a>
        <a href="modals-1.html">#</a>
  </h2>

  <button class="modal-button" data-modal-type="from-above">From Above</button>
  <button class="modal-button" data-modal-type="from-below">From Below</button>
</div>
