<div class="effeckt effeckt-demo-modals-2">

  <header>
    <h2>
      Modals
      <a href="modals.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/">
        Codrops
      </a>
    </span>
  </header>

  <button class="modal2-button" data-modal-type="modal-1">Fade in &amp; Scale</button>
  <button class="modal2-button" data-modal-type="modal-2">Slide in (right)</button>
  <button class="modal2-button" data-modal-type="modal-3">Slide in (bottom)</button>
  <button class="modal2-button" data-modal-type="modal-4">Newspaper</button>
  <button class="modal2-button" data-modal-type="modal-5">Fall</button>
  <button class="modal2-button" data-modal-type="modal-6">Side Fall</button>
  <button class="modal2-button" data-modal-type="modal-7">Sticky Up</button>
  <button class="modal2-button" data-modal-type="modal-8">3D Flip (horizontal)</button>
  <button class="modal2-button" data-modal-type="modal-9">3D Flip (vertical)</button>
  <button class="modal2-button" data-modal-type="modal-10">3D Sign</button>
  <button class="modal2-button" data-modal-type="modal-11">Super Scaled</button>
  <button class="modal2-button" data-modal-type="modal-12">Just Me</button>
  <button class="modal2-button" data-modal-type="modal-13">3D Slit</button>
  <button class="modal2-button" data-modal-type="modal-14">3D Rotate Bottom</button>
  <button class="modal2-button" data-modal-type="modal-15">3D Rotate In Left</button>
  <button class="modal2-button" data-modal-type="modal-16">Blur</button>

  <button class="modal2-button" data-modal-type="modal-17" data-needs-perspective="true">Let me in</button>
  <button class="modal2-button" data-modal-type="modal-18" data-needs-perspective="true">Make way!</button>
  <button class="modal2-button" data-modal-type="modal-19" data-needs-perspective="true">Slip from top</button>
</div>