<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Modals
      <a href="modals.html">#</a>
    </h2>
    <span class="source">
      Source:
      <a href="http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/">
        Codrops
      </a>
    </span>
  </header>

  <div class="button-group">
    <button class="effeckt-modal-button" data-effeckt-type="from-below">From Below</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-above">From Above</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-top">Slide In (top)</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-right">Slide In (right)</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-bottom">Slide In (bottom)</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-left">Slide In (left)</button>
    <button class="effeckt-modal-button" data-effeckt-type="newspaper">Newspaper</button>
    <button class="effeckt-modal-button" data-effeckt-type="side-fall">Side Fall</button>
    <button class="effeckt-modal-button" data-effeckt-type="sticky-up">Sticky Up</button>
    <button class="effeckt-modal-button" data-effeckt-type="flip-horizontal-3D">3D Flip (horizontal)</button>
    <button class="effeckt-modal-button" data-effeckt-type="flip-vertical-3D">3D Flip (vertical)</button>
    <button class="effeckt-modal-button" data-effeckt-type="sign-3D">3D Sign</button>
    <button class="effeckt-modal-button" data-effeckt-type="fade-in">Fade In</button>
    <button class="effeckt-modal-button" data-effeckt-type="slit-3D">3D Slit</button>
    <button class="effeckt-modal-button" data-effeckt-type="rotate-from-bottom-3D">3D Rotate Bottom</button>
    <button class="effeckt-modal-button" data-effeckt-type="rotate-from-left-3D">3D Rotate In Left</button>
    <button class="effeckt-modal-button" data-effeckt-type="blur">Blur</button>

    <button class="effeckt-modal-button" data-effeckt-type="let-me-in" data-effeckt-needs-perspective="true">Let Me In</button>
    <button class="effeckt-modal-button" data-effeckt-type="make-way" data-effeckt-needs-perspective="true">Make Way!</button>
    <button class="effeckt-modal-button" data-effeckt-type="deep-content" data-effeckt-needs-perspective="true">Deep Content</button>
    <button class="effeckt-modal-button" data-effeckt-type="slip-in-from-top" data-effeckt-needs-perspective="true">Slip From Top</button>

    <button class="effeckt-modal-button" data-effeckt-type="slide-in-top" data-effeckt-out-type="tilt-fall">From Top, Tilt Fall</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-top" data-effeckt-out-type="slide-out-bottom">From Top to Bottom</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-bottom" data-effeckt-out-type="slide-out-top">From Bottom to Top</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-left" data-effeckt-out-type="slide-out-right">From Left to Right</button>
    <button class="effeckt-modal-button" data-effeckt-type="slide-in-right" data-effeckt-out-type="slide-out-left">From Right to Left</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-above" data-effeckt-out-type="to-below">From Above to Below</button>
    <button class="effeckt-modal-button" data-effeckt-type="from-below" data-effeckt-out-type="to-above">From Below to Above</button>
    <button class="effeckt-modal-button" data-effeckt-type="shake">Shake</button>
    <button class="effeckt-modal-button" data-effeckt-type="bounce">Bounce</button>
    <button class="effeckt-modal-button" data-effeckt-type="pulse">Pulse</button>
    <button class="effeckt-modal-button" data-effeckt-type="wobble">Wobble</button>
    <button class="effeckt-modal-button" data-effeckt-type="swing">Swing</button>
    <button class="effeckt-modal-button" data-effeckt-type="tada">Tada</button>
  </div>

</div>
