<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Off Screen Nav
      <a href="off-screen-navs.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <div class="button-group">
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-overlay">Left Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-push">Left Push</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-squeeze">Left Squeeze</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-overlay">Right Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-push">Right Push</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-squeeze">Right Squeeze</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-rotate" data-threedee="true">Rotate</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-overlay">Top Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-overlay">Bottom Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-bounce" data-effeckt-hide="true">Top Bounce</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-bounce" data-effeckt-hide="true">Bottom Bounce</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-push-top">Push Top</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-push-bottom">Push Bottom</button>
  </div>

</div>
