<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Off Screen Nav
      <a href="off-screen-navs.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <div class="button-group">
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-overlay">Left Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-reveal">Left Reveal</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-push">Left Push</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-bounce" data-effeckt-needs-hide-class="true">Left Bounce</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-bounce-out" data-effeckt-needs-hide-class="true">Left Bounce Out</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-squeeze">Left Squeeze</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-left-rotate" data-threedee="true">Left Rotate</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-overlay">Right Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-reveal">Right Reveal</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-push">Right Push</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-bounce" data-effeckt-needs-hide-class="true">Right Bounce</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-bounce-out" data-effeckt-needs-hide-class="true">Right Bounce Out</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-squeeze">Right Squeeze</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-right-rotate" data-threedee="true">Right Rotate</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-overlay">Top Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-push-top">Top Push</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-bounce" data-effeckt-needs-hide-class="true">Top Bounce</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-bounce-out" data-effeckt-needs-hide-class="true">Top Bounce Out</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-card-deck">Top Card Deck</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-top-rotate" data-threedee="true">Top Rotate</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-overlay">Bottom Overlay</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-push-bottom">Bottom Push</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-bounce" data-effeckt-needs-hide-class="true">Bottom Bounce</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-bounce-out" data-effeckt-needs-hide-class="true">Bottom Bounce Out</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-card-deck">Bottom Card Deck</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-bottom-rotate" data-threedee="true">Bottom Rotate</button>
  <button class="off-screen-nav-button" data-effeckt-type="effeckt-off-screen-nav-minimize-reaveal" data-threedee="true" data-effeckt-needs-hide-class="true">Minimize then reveal</button>
  </div>

</div>
