<div class="effeckt effeckt-demo-modals-2">

  <header>
    <h2>
      Off Screen Nav
      <a href="off-screen-nav.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <button class="off-screen-nav-button" data-modal-type="effeckt-off-screen-nav-left-overlay">Left Overlay</button>
  <button class="off-screen-nav-button" data-modal-type="effeckt-off-screen-nav-left-push">Left Push</button>

  <button class="off-screen-nav-button" data-modal-type="effeckt-off-screen-nav-right-overlay">Right Overlay</button>
  <button class="off-screen-nav-button" data-modal-type="effeckt-off-screen-nav-right-push">Right Push</button>

  <br><br>

  Todo: Left Squeeze, directional of all, Meny, others

</div>
