<div class="effeckt effeckt-demo-modals-2">

  <header>
    <h2>
      Off Screen Nav
      <a href="off-screen-nav.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <button class="off-screen-nav-button" data-modal-type="left-push">Left Push</button>
  
</div>

<nav class="effeckt-off-screen-nav" id="effeckt-off-screen-nav">
  <ul>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
  </ul>
</nav>