<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Page Transitions
      <a href="page-transitions.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <button class="effeckt-page-transition-button" data-effeckt-transition-in="slide-left-in" data-effeckt-transition-out="slide-left-out" data-effeckt-transition-page="page-2">Slide In Left</button>

  <button class="effeckt-page-transition-button" data-effeckt-transition-in="slide-right-in" data-effeckt-transition-out="slide-right-out" data-effeckt-transition-page="page-3">Slide In Right</button>

  <button class="effeckt-page-transition-button" data-effeckt-transition-in="slide-bottom-in" data-effeckt-transition-out="slide-bottom-out" data-effeckt-transition-page="page-3">Slide In Bottom</button>

  <button class="effeckt-page-transition-button" data-effeckt-transition-in="slide-top-in" data-effeckt-transition-out="slide-top-out" data-effeckt-transition-page="page-3">Slide In Top</button>


</div>
