<div class="effeckt effeckt-demo-modals">

  <header>
    <h2>
      Page Transitions
      <a href="page-transitions.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <button class="page-transition-button" data-transition-in="effeckt-page-transition-left-slide-in" data-transition-out="effeckt-page-transition-left-slide-out">Slide In Left</button>
  <button class="page-transition-button" data-transition-in="effeckt-page-transition-right-slide-in" data-transition-out="effeckt-page-transition-right-slide-out">Slide In Right</button>


</div>
