<div class="effeckt effeckt-demo-positional-modals">

  <header>
    <h2>
      Positional Modals
      <a href="positional-modals.html">#</a>
    </h2>
  </header>

  <div class="button-group">
    <button class="effeckt-positional-modal-button" data-effeckt-position="above" data-effeckt-type="from-below">Above / From Below</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="above" data-effeckt-type="from-above">Above / From Above</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="above" data-effeckt-type="slide-in-right">Above / Slide In (right)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="above" data-effeckt-type="slide-in-left">Above / Slide In (left)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="above" data-effeckt-type="slide-in-top">Above / Slide In (top)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="above" data-effeckt-type="slide-in-bottom">Above / Slide In (bottom)</button>

    <button class="effeckt-positional-modal-button" data-effeckt-position="below" data-effeckt-type="from-below">Below / From Below</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="below" data-effeckt-type="from-above">Below / From Above</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="below" data-effeckt-type="slide-in-right">Below / Slide In (right)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="below" data-effeckt-type="slide-in-left">Below / Slide In (left)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="below" data-effeckt-type="slide-in-top">Below / Slide In (top)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="below" data-effeckt-type="slide-in-bottom">Below / Slide In (bottom)</button>

    <button class="effeckt-positional-modal-button" data-effeckt-position="right" data-effeckt-type="from-below">Right / From Below</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="right" data-effeckt-type="from-above">Right / From Above</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="right" data-effeckt-type="slide-in-right">Right / Slide In (right)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="right" data-effeckt-type="slide-in-left">Right / Slide In (left)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="right" data-effeckt-type="slide-in-top">Right / Slide In (top)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="right" data-effeckt-type="slide-in-bottom">Right / Slide In (bottom)</button>

    <button class="effeckt-positional-modal-button" data-effeckt-position="left" data-effeckt-type="from-below">Left / From Below</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="left" data-effeckt-type="from-above">Left / From Above</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="left" data-effeckt-type="slide-in-right">Left / Slide In (right)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="left" data-effeckt-type="slide-in-left">Left / Slide In (left)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="left" data-effeckt-type="slide-in-top">Left / Slide In (top)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-position="left" data-effeckt-type="slide-in-bottom">Left / Slide In (bottom)</button>
  </div>

</div>
