<div class="effeckt effeckt-demo-positional-modals">

  <header>
    <h2>
      Positional Modals
      <a href="positional-modals.html">#</a>
    </h2>
  </header>

  <div class="button-group">
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-1">From Below</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-5">From Above</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-2">Slide In (right)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-3">Slide In (bottom)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-4">Newspaper</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-6" data-effeckt-hide-class="true">Side Fall</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-7">Sticky Up</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-8">3D Flip (horizontal)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-9">3D Flip (vertical)</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-10">3D Sign</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-12">Just Me</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-13" data-effeckt-hide-class="true">3D Slit</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-14">3D Rotate Bottom</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-15">3D Rotate In Left</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-16">Blur</button>

    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-17" data-effeckt-needs-perspective="true" data-hide-class="true">Let Me In</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-18" data-effeckt-needs-perspective="true" data-hide-class="true">Make Way!</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-19" data-effeckt-needs-perspective="true" data-hide-class="true">Slip From Top</button>

    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-20" data-effeckt-hide-class="true">From Top, Tilt Fall</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-22" data-effeckt-hide-class="true">From Top to Bottom</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="positional-modal-24" data-effeckt-hide-class="true">From Top to Top</button>
  </div>

</div>
