<div class="effeckt effeckt-demo-positional-modals">

  <header>
    <h2>
      Positional Modals
      <a href="positional-modals.html">#</a>
    </h2>
  </header>

  <div class="button-group">
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="above" data-effeckt-modal-style="md-effect-1">Above / From Below</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="above" data-effeckt-modal-style="md-effect-5">Above / From Above</button>
    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="above" data-effeckt-modal-style="md-effect-2">Above / Slide In (right)</button>

    <button class="effeckt-positional-modal-button" data-effeckt-positional-modal-type="below" data-effeckt-modal-style="md-effect-1">Below / From Below</button>
  </div>

</div>
