<!-- #Effeckt Toggle Demos  -->
<div class="effeckt effeckt-demo-toggleFlipInOutX">
  <h2>Toggles <a href="#">(source)</a></h2>

  <div class="effeckt-toggle-demo">
    <button data-toggle-trigger="effeckt-flipInX">Flip In/OutX</button>

    <div class="effeckt-togglecontent__flipInX visuallyhidden">
      <p>Leo Fender† passed away on a rainy day in March of 1991, an event which shook the Music World: The father of modern music was gone. It was on that very day that Leo had completed his last prototype instrument, after which he declared to his wife Phyllis that he had given all he can to the musicians of the world.</p>
    </div>
  </div>
</div>