<div class="effeckt effeckt-demo-tooltips">

  <header>
    <h2>
      Tooltips
      <a href="tooltips.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <p>Lorem ipsum <a href="#0" data-effeckt-tooltip-text="I appear on top." class="effeckt-tooltip" data-effeckt-type="bubble" data-effeckt-position="top">example one</a> dolor sit amet, consectetur adipisicing elit. Unde, dolor, <a href="#0" data-effeckt-tooltip-text="I appear on bottom." class="effeckt-tooltip" data-effeckt-type="bubble" data-effeckt-position="bottom">example two</a> ipsa, dolorem officia expedita error <a href="#0" data-effeckt-tooltip-text="I appear on right." class="effeckt-tooltip" data-effeckt-type="bubble" data-effeckt-position="right">example three</a> vel blanditiis tempore molestias voluptatem ducimus porro <a href="#0" data-effeckt-tooltip-text="I appear on left." class="effeckt-tooltip" data-effeckt-type="bubble" data-effeckt-position="left">example four</a> recusandae quo ex quisquam voluptas iure! Amet, dignissimos.</p>

</div>