<div class="effeckt effeckt-demo-tooltips">

  <header>
    <h2>
      Tooltips
      <a href="tooltips.html">#</a>
    </h2>
    <!-- <span class="source">
      ...
    </span> -->
  </header>

  <p>Lorem ipsum <a href="#" data-effeckt-tooltip-text="I am a tooltip." class="effeckt-tooltip-1">example one</a> dolor sit amet, consectetur adipisicing elit. Unde, dolor, ipsa, dolorem officia expedita error vel blanditiis tempore molestias voluptatem ducimus porro recusandae quo ex quisquam voluptas iure! Amet, dignissimos.</p>

</div>
