<div class="effeckt effeckt-demo-buttons-1 group">

      <h2>
        Buttons 1
        <a href="http://lab.hakim.se/ladda/">(source)</a>
        <a href="{% if page.demo != true %}demos/{% endif %}buttons-1.html">#</a>
      </h2>

      <div class="button-demo-wrap">
      <button class="ladda-button expand-right"><span class="label">Expand Right</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button expand-left"><span class="label">Expand Left</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button expand-up"><span class="label">Expand Up</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button expand-down"><span class="label">Expand Down</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button slide-left"><span class="label">Slide Left</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button slide-right"><span class="label">Slide Right</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button slide-up"><span class="label">Slide Up</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button slide-down"><span class="label">Slide Down</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button zoom-out"><span class="label">Zoom Out</span> <span class="spinner"></span></button>
      </div>

      <div class="button-demo-wrap">
      <button class="ladda-button zoom-in"><span class="label">Zoom in</span> <span class="spinner"></span></button>
      </div>

    </div>