.effeckt-caption {
  position: relative;
  width: 48%;
  float: left;
  margin: 0 4% 1rem 0;
  overflow: hidden; }
  .effeckt-caption:nth-child(2n) {
    margin-right: 0; }
  .effeckt-caption img {
    width: 100%;
    display: block;
    transition: 0.5s; }
  .effeckt-caption figcaption {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0.5s;
    width: 100%;
    padding: 1rem; }
    .effeckt-caption figcaption h3 {
      font-size: 1.2rem; }
    .effeckt-caption figcaption p {
      margin: 0; }

.effeckt-caption-1 figcaption {
  bottom: 0;
  left: 0;
  opacity: 0; }
.effeckt-caption-1:hover figcaption, .effeckt-caption-1:active figcaption {
  opacity: 1; }

.effeckt-caption-2 figcaption {
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%); }
.effeckt-caption-2:hover figcaption, .effeckt-caption-2:active figcaption {
  opacity: 1;
  transform: translateY(0); }

.effeckt-caption-3 figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }
.effeckt-caption-3 img {
  position: relative;
  z-index: 1;
  transition-delay: 0.25s; }
.effeckt-caption-3 .effeckt-figcaption-wrap {
  position: absolute;
  bottom: 1rem;
  opacity: 0;
  transition: opacity 0.25s linear 0s; }
.effeckt-caption-3:hover .effeckt-figcaption-wrap, .effeckt-caption-3:active .effeckt-figcaption-wrap {
  opacity: 1;
  transition-delay: 0.25s; }
.effeckt-caption-3:hover img, .effeckt-caption-3:active img {
  transform: scale(0.5) translateY(-80px);
  transition-delay: 0; }

.effeckt-caption-4 figcaption {
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateX(100%); }
.effeckt-caption-4:hover figcaption, .effeckt-caption-4:active figcaption {
  opacity: 1;
  transform: translateX(0); }

.effeckt-caption-5 figcaption {
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0; }
.effeckt-caption-5:hover figcaption, .effeckt-caption-5:active figcaption {
  opacity: 1; }

.effeckt-caption-6 figcaption {
  top: 0;
  left: 0;
  transform: translateX(100%) rotate(20deg);
  opacity: 0; }
.effeckt-caption-6:hover figcaption, .effeckt-caption-6:active figcaption {
  transform: translateX(0) rotate(0deg);
  opacity: 1; }

.effeckt-caption-7 figcaption {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0; }
.effeckt-caption-7 .effeckt-figcaption-wrap {
  transition: 0.5s 0.25s;
  transform: translateX(200%); }
.effeckt-caption-7:hover figcaption, .effeckt-caption-7:active figcaption {
  transform: translateX(0);
  opacity: 1; }
.effeckt-caption-7:hover .effeckt-figcaption-wrap, .effeckt-caption-7:active .effeckt-figcaption-wrap {
  transform: translateX(0); }

.effeckt-caption-8 figcaption {
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0; }
.effeckt-caption-8 img {
  transition: 0.5s;
  transform: translateX(0); }
.effeckt-caption-8:hover figcaption, .effeckt-caption-8:active figcaption {
  transform: translateX(0);
  opacity: 1; }
.effeckt-caption-8:hover img, .effeckt-caption-8:active img {
  transform: translateX(100%); }

.effeckt-caption-9 figcaption {
  top: 0;
  left: 0;
  transform: scale(2);
  opacity: 0;
  text-align: center; }
.effeckt-caption-9 img {
  transition: 0.5s; }
.effeckt-caption-9:hover figcaption, .effeckt-caption-9:active figcaption {
  transform: scale(1);
  opacity: 1; }
.effeckt-caption-9:hover img, .effeckt-caption-9:active img {
  transform: scale(1.1); }
