.effeckt-modal.subtle-fade {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.3);
}

.effeckt-modal.subtle-fade.effeckt-show {
  opacity: 1;
}

.effeckt-modal.subtle-zoom {
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.02) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1.02) translateX(-50%) translateY(-50%);
  -o-transform: scale(1.02) translateX(-50%) translateY(-50%);
  transform: scale(1.02) translateX(-50%) translateY(-50%);
}

.effeckt-modal.subtle-zoom.effeckt-show {
  opacity: 1;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%);
  -o-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.3);
}

.effeckt-modal.from-above {
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  -ms-transform: scale(2) translateX(-25%) translateY(-25%);
  -o-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
}

.effeckt-modal.from-above.effeckt-show {
  opacity: 1;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%);
  -o-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.3);
}

.effeckt-modal.from-below {
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(0.5) translateX(-100%) translateY(-100%);
  -ms-transform: scale(0.5) translateX(-100%) translateY(-100%);
  -o-transform: scale(0.5) translateX(-100%) translateY(-100%);
  transform: scale(0.5) translateX(-100%) translateY(-100%);
}

.effeckt-modal.from-below.effeckt-show {
  opacity: 1;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%);
  -o-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.3);
}