.md-perspective, .md-perspective body {
  height: 100%;
  overflow: hidden; }

.md-perspective body {
  perspective: 600px; }

.effeckt-off-screen-nav-close {
  position: absolute;
  right: 0;
  top: 0.65rem;
  font-size: 150%; }
  .effeckt-off-screen-nav-close:hover, .effeckt-off-screen-nav-close:focus {
    color: red; }

.effeckt-off-screen-nav-show {
  visibility: visible; }

.effeckt-off-screen-nav-left-overlay {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -webkit-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -o-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -ms-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99); }

.effeckt-off-screen-nav-left-overlay.effeckt-off-screen-nav-show {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.effeckt-off-screen-nav-left-push {
  -moz-transform: translateX(-12rem);
  -webkit-transform: translateX(-12rem);
  -o-transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  transform: translateX(-12rem);
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms; }

.effeckt-off-screen-nav-left-push.effeckt-off-screen-nav-show {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.effeckt-off-screen-nav-left-push ~ .page-wrap {
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms; }

.effeckt-off-screen-nav-left-push.effeckt-off-screen-nav-show ~ .page-wrap {
  -moz-transform: translateX(12rem);
  -webkit-transform: translateX(12rem);
  -o-transform: translateX(12rem);
  -ms-transform: translateX(12rem);
  transform: translateX(12rem); }

.effeckt-off-screen-nav-left-squeeze {
  width: 20%;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms; }

.effeckt-off-screen-nav-left-squeeze.effeckt-off-screen-nav-show {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.effeckt-off-screen-nav-left-squeeze ~ .page-wrap {
  -moz-transition: width 300ms;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  -ms-transition: width 300ms;
  transition: width 300ms;
  max-width: none; }

.effeckt-off-screen-nav-left-squeeze.effeckt-off-screen-nav-show ~ .page-wrap {
  width: 80%; }

.effeckt-off-screen-nav-right-overlay {
  right: 0;
  left: auto;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -webkit-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -o-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -ms-transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99);
  transition: 300ms cubic-bezier(0.09, 0.68, 0, 0.99); }

.effeckt-off-screen-nav-right-overlay.effeckt-off-screen-nav-show {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.effeckt-off-screen-nav-right-push {
  left: auto;
  right: 0;
  -moz-transform: translateX(12rem);
  -webkit-transform: translateX(12rem);
  -o-transform: translateX(12rem);
  -ms-transform: translateX(12rem);
  transform: translateX(12rem);
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms; }

.effeckt-off-screen-nav-right-push.effeckt-off-screen-nav-show {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.effeckt-off-screen-nav-right-push ~ .page-wrap {
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms; }

.effeckt-off-screen-nav-right-push.effeckt-off-screen-nav-show ~ .page-wrap {
  -moz-transform: translateX(-12rem);
  -webkit-transform: translateX(-12rem);
  -o-transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  transform: translateX(-12rem); }

.effeckt-off-screen-nav-right-squeeze {
  left: auto;
  right: 0;
  width: 20%;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms; }

.effeckt-off-screen-nav-right-squeeze.effeckt-off-screen-nav-show {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.effeckt-off-screen-nav-right-squeeze ~ .page-wrap {
  float: left;
  -moz-transition: width 300ms;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  -ms-transition: width 300ms;
  transition: width 300ms;
  max-width: none; }

.effeckt-off-screen-nav-right-squeeze.effeckt-off-screen-nav-show ~ .page-wrap {
  width: 80%; }

.effeckt-off-screen-nav-rotate {
  transform-origin: 100% 50%;
  transition: 0.5s;
  transform: translateX(-100%) translateX(6px) scale(1.01) rotateY(-30deg); }

.effeckt-off-screen-nav-rotate.effeckt-off-screen-nav-show {
  transform: none; }

.effeckt-off-screen-nav-rotate ~ .page-wrap {
  transform-origin: 0 50%;
  transition: 0.5s; }

.effeckt-off-screen-nav-rotate.effeckt-off-screen-nav-show ~ .page-wrap {
  transform: translateX(260px) rotateY(15deg); }

.effeckt-off-screen-nav-rotate.effeckt-off-screen-nav-show ~ .page-wrap .off-screen-nav-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(left, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.9)); }
