.md-perspective, .md-perspective body {
  height: 100%;
  overflow: hidden; }

.md-perspective body {
  perspective: 600px; }

.effeckt-show {
  visibility: visible; }

.effeckt-off-screen-nav-left-overlay {
  transform: translateX(-100%);
  transition: 500ms cubic-bezier(0.09, 0.68, 0, 0.99); }
  .effeckt-off-screen-nav-left-overlay.effeckt-show {
    transform: translateX(0); }

.effeckt-off-screen-nav-left-push {
  transform: translateX(-12rem);
  transition: 500ms; }
  .effeckt-off-screen-nav-left-push.effeckt-show {
    transform: translateX(0); }
    .effeckt-off-screen-nav-left-push.effeckt-show ~ [data-effeckt-page].effeckt-page-active {
      transform: translateX(12rem); }
  .effeckt-off-screen-nav-left-push ~ [data-effeckt-page].effeckt-page-active {
    transition: 500ms;
    transform: translateX(0); }

.effeckt-off-screen-nav-left-reveal {
  width: 0px;
  transform: translate3D(0, 0, 0);
  transition: 500ms; }
  .effeckt-off-screen-nav-left-reveal h4 {
    width: 10rem; }
  .effeckt-off-screen-nav-left-reveal.effeckt-show {
    width: 12rem;
    transform: translateX(0); }
    .effeckt-off-screen-nav-left-reveal.effeckt-show ~ [data-effeckt-page] {
      transform: translateX(12rem); }
  .effeckt-off-screen-nav-left-reveal ~ [data-effeckt-page] {
    transition: 500ms; }

.effeckt-off-screen-nav-left-squeeze {
  width: 40%;
  transform: translateX(-100%);
  transition: 500ms; }
  .effeckt-off-screen-nav-left-squeeze.effeckt-show {
    transform: translateX(0); }
    .effeckt-off-screen-nav-left-squeeze.effeckt-show ~ [data-effeckt-page] {
      width: 60%; }
  .effeckt-off-screen-nav-left-squeeze ~ [data-effeckt-page] {
    float: right;
    transition: width 500ms;
    max-width: none; }

.effeckt-off-screen-nav-right-overlay {
  right: 0;
  left: auto;
  transform: translateX(100%);
  transition: 500ms cubic-bezier(0.09, 0.68, 0, 0.99); }
  .effeckt-off-screen-nav-right-overlay.effeckt-show {
    transform: translateX(0); }

.effeckt-off-screen-nav-right-push {
  left: auto;
  right: 0;
  transform: translateX(12rem);
  transition: 500ms; }
  .effeckt-off-screen-nav-right-push.effeckt-show {
    transform: translateX(0); }
    .effeckt-off-screen-nav-right-push.effeckt-show ~ [data-effeckt-page] {
      transform: translateX(-12rem); }
  .effeckt-off-screen-nav-right-push ~ [data-effeckt-page] {
    transition: 500ms; }

.effeckt-off-screen-nav-right-reveal {
  width: 0;
  overflow: hidden;
  left: auto;
  right: 0;
  transform: translate3D(0, 0, 0);
  transition: 500ms; }
  .effeckt-off-screen-nav-right-reveal h4 {
    width: 10rem;
    position: absolute;
    top: 0px;
    right: 0; }
  .effeckt-off-screen-nav-right-reveal ul {
    width: 12rem;
    position: absolute;
    top: 3.2rem;
    right: 0; }
  .effeckt-off-screen-nav-right-reveal.effeckt-show {
    width: 12rem; }
    .effeckt-off-screen-nav-right-reveal.effeckt-show ~ [data-effeckt-page] {
      transform: translateX(-12rem); }
  .effeckt-off-screen-nav-right-reveal ~ [data-effeckt-page] {
    transition: 500ms; }

.effeckt-off-screen-nav-right-squeeze {
  left: auto;
  right: 0;
  width: 40%;
  transform: translateX(100%);
  transition: 500ms; }
  .effeckt-off-screen-nav-right-squeeze.effeckt-show {
    transform: translateX(0); }
    .effeckt-off-screen-nav-right-squeeze.effeckt-show ~ [data-effeckt-page] {
      width: 60%; }
  .effeckt-off-screen-nav-right-squeeze ~ [data-effeckt-page] {
    float: left;
    transition: width 500ms;
    max-width: none; }

.effeckt-off-screen-nav-left-rotate {
  transform-origin: 100% 50%;
  transition: 500ms;
  transform: translateX(-100%) scale(1.01) rotateY(-30deg); }
  .effeckt-off-screen-nav-left-rotate ~ [data-effeckt-page].effeckt-page-active {
    transform-origin: 0 50%;
    transition: 500ms; }
  .effeckt-off-screen-nav-left-rotate ~ .effeckt-overlay {
    z-index: 900;
    visibility: visible; }
  .effeckt-off-screen-nav-left-rotate.effeckt-show {
    transform: none; }
    .effeckt-off-screen-nav-left-rotate.effeckt-show ~ [data-effeckt-page].effeckt-page-active {
      transform: translateX(260px) rotateY(15deg);
      overflow: hidden; }
    .effeckt-off-screen-nav-left-rotate.effeckt-show ~ [data-effeckt-page] .off-screen-nav-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.effeckt-off-screen-nav-top-overlay {
  width: 100%;
  bottom: auto;
  transition: 500ms;
  transform: translateY(-100%); }
  .effeckt-off-screen-nav-top-overlay.effeckt-show {
    visibility: visible;
    transform: translateY(0%); }

.effeckt-off-screen-nav-bottom-overlay {
  width: 100%;
  top: auto;
  transition: 500ms;
  transform: translateY(100%); }
  .effeckt-off-screen-nav-bottom-overlay.effeckt-show {
    transform: translateY(0%); }

.effeckt-off-screen-nav-top-bounce {
  width: 100%;
  bottom: auto;
  transition: 500ms; }
  .effeckt-off-screen-nav-top-bounce.effeckt-show {
    visibility: visible;
    animation: navFromTopBounceIn 500ms both ease; }
  .effeckt-off-screen-nav-top-bounce.effeckt-hide {
    animation: navFromTopBounceOut 500ms both ease; }

.effeckt-off-screen-nav-top-bounce-out {
  width: 100%;
  bottom: auto;
  transform: translateY(-100%);
  transition: 500ms; }
  .effeckt-off-screen-nav-top-bounce-out.effeckt-show {
    visibility: visible;
    transform: translateY(0%); }
  .effeckt-off-screen-nav-top-bounce-out.effeckt-hide {
    animation: navFromTopBounceOut 500ms both ease; }

@keyframes navFromTopBounceIn {
  0% {
    transform: translateY(-100%); }

  20% {
    padding-top: 0px;
    transform: translateY(0%); }

  60% {
    padding-top: 20px; }

  100% {
    padding-top: 0; } }

@keyframes navFromTopBounceOut {
  0% {
    transform: translateY(0%);
    padding-top: 0px; }

  40% {
    transform: translateY(0%);
    padding-top: 20px; }

  80% {
    padding-top: 0px; }

  90%, 100% {
    transform: translateY(-100%); } }

.effeckt-off-screen-nav-bottom-bounce {
  width: 100%;
  top: auto;
  transition: 500ms; }
  .effeckt-off-screen-nav-bottom-bounce.effeckt-show {
    animation: navFromBottomBounceIn 500ms both ease; }
  .effeckt-off-screen-nav-bottom-bounce.effeckt-hide {
    animation: navFromBottomBounceOut 500ms both ease; }

.effeckt-off-screen-nav-bottom-bounce-out {
  width: 100%;
  top: auto;
  transform: translateY(100%);
  transition: 500ms; }
  .effeckt-off-screen-nav-bottom-bounce-out.effeckt-show {
    transform: translateY(0%); }
  .effeckt-off-screen-nav-bottom-bounce-out.effeckt-hide {
    animation: navFromBottomBounceOut 500ms both ease; }

@keyframes navFromBottomBounceIn {
  0% {
    transform: translateY(100%); }

  20% {
    padding-bottom: 0px;
    transform: translateY(0%); }

  60% {
    padding-bottom: 20px; }

  100% {
    padding-bottom: 0; } }

@keyframes navFromBottomBounceOut {
  0% {
    transform: translateY(0%);
    padding-bottom: 0px; }

  40% {
    transform: translateY(0%);
    padding-bottom: 20px; }

  80% {
    padding-bottom: 0; }

  90%, 100% {
    transform: translateY(100%); } }

.effeckt-off-screen-nav-push-top {
  width: 100%;
  bottom: auto;
  transition: 500ms;
  transform: translateY(-100%); }
  .effeckt-off-screen-nav-push-top.effeckt-show {
    visibility: visible;
    transform: translateY(0%); }
    .effeckt-off-screen-nav-push-top.effeckt-show ~ [data-effeckt-page] {
      transform: translateY(12rem); }
  .effeckt-off-screen-nav-push-top ~ [data-effeckt-page] {
    transition: 500ms; }

.effeckt-off-screen-nav-push-bottom {
  width: 100%;
  top: auto;
  transition: 500ms;
  transform: translateY(100%); }
  .effeckt-off-screen-nav-push-bottom.effeckt-show {
    visibility: visible;
    transform: translateY(0%); }
    .effeckt-off-screen-nav-push-bottom.effeckt-show ~ [data-effeckt-page] {
      transform: translateY(-12rem); }
  .effeckt-off-screen-nav-push-bottom ~ [data-effeckt-page] {
    transition: 500ms; }

.effeckt-off-screen-nav-right-rotate {
  left: auto;
  right: 0;
  transform-origin: 100% 50%;
  transition: 500ms;
  transform: rotateY(30deg) translateX(100%) scale(1.01); }
  .effeckt-off-screen-nav-right-rotate ~ [data-effeckt-page] {
    transform-origin: 100% 50%;
    transition: 500ms; }
  .effeckt-off-screen-nav-right-rotate ~ .effeckt-overlay {
    z-index: 900;
    visibility: visible; }
  .effeckt-off-screen-nav-right-rotate.effeckt-show {
    transform: none; }
    .effeckt-off-screen-nav-right-rotate.effeckt-show ~ [data-effeckt-page] {
      transform: translateX(-260px) rotateY(-15deg);
      overflow: hidden; }
    .effeckt-off-screen-nav-right-rotate.effeckt-show ~ [data-effeckt-page] .off-screen-nav-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.effeckt-off-screen-nav-top-card-deck {
  perspective: 800px;
  bottom: auto;
  transform: translateY(-100%);
  width: 100%;
  overflow: visible;
  transition: transform 250ms; }
  .effeckt-off-screen-nav-top-card-deck.effeckt-show {
    transform: translateY(0%); }
  .effeckt-off-screen-nav-top-card-deck h4 {
    position: relative;
    z-index: 300;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: all 250ms ease-out;
    display: block; }
    .effeckt-off-screen-nav-top-card-deck h4:active {
      transform: rotateX(60deg); }
  .effeckt-off-screen-nav-top-card-deck ul {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0; }
    .effeckt-off-screen-nav-top-card-deck ul li {
      transition: all 250ms ease-out;
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      transform: translateY(0px); }

.effeckt-off-screen-nav-bottom-card-deck {
  perspective: 800px;
  top: auto;
  transform: translateY(100%);
  width: 100%;
  overflow: visible;
  transition: transform 250ms; }
  .effeckt-off-screen-nav-bottom-card-deck.effeckt-show {
    transform: translateY(0%); }
  .effeckt-off-screen-nav-bottom-card-deck h4 {
    position: relative;
    z-index: 300;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    transition: all 250ms ease-out;
    display: block; }
    .effeckt-off-screen-nav-bottom-card-deck h4:active {
      transform: rotateX(-60deg); }
  .effeckt-off-screen-nav-bottom-card-deck ul {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: 0; }
    .effeckt-off-screen-nav-bottom-card-deck ul li {
      transition: all 250ms ease-out;
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      transform: translateY(300px); }

.effeckt-off-screen-nav-left-bounce {
  transition: 500ms;
  transform: translateX(-100%); }
  .effeckt-off-screen-nav-left-bounce.effeckt-show {
    visibility: visible;
    transform: translateX(0%);
    animation: navFromLeftBounceIn 500ms both ease; }
  .effeckt-off-screen-nav-left-bounce.effeckt-hide {
    transform: translateX(-100%);
    animation: navFromLeftBounceOut 500ms both ease; }

@keyframes navFromLeftBounceIn {
  0% {
    transform: translateX(-100%); }

  20% {
    padding-left: 0px;
    transform: translateX(0%); }

  60% {
    padding-left: 20px; }

  100% {
    padding-left: 0px; } }

@keyframes navFromLeftBounceOut {
  0% {
    transform: translateX(0%);
    padding-left: 0px; }

  40% {
    transform: translateX(0%);
    padding-left: 20px; }

  80% {
    padding-left: 0px; }

  90%, 100% {
    transform: translateX(-100%); } }

.effeckt-off-screen-nav-left-bounce-out {
  transform: translateX(-100%);
  transition: 500ms; }
  .effeckt-off-screen-nav-left-bounce-out.effeckt-show {
    visibility: visible;
    transform: translateY(0%); }
  .effeckt-off-screen-nav-left-bounce-out.effeckt-hide {
    animation: navFromLeftBounceOut 500ms both ease; }

.effeckt-off-screen-nav-right-bounce {
  left: auto;
  right: 0;
  transition: 500ms; }
  .effeckt-off-screen-nav-right-bounce.effeckt-show {
    visibility: visible;
    animation: navFromRightBounceIn 500ms both ease; }
  .effeckt-off-screen-nav-right-bounce.effeckt-hide {
    animation: navFromRightBounceOut 500ms both ease; }

@keyframes navFromRightBounceIn {
  0% {
    transform: translateX(100%); }

  20% {
    padding-right: 0px;
    transform: translateX(0%); }

  60% {
    padding-right: 20px; }

  100% {
    padding-right: 0px; } }

@keyframes navFromRightBounceOut {
  0% {
    transform: translateX(0%);
    padding-right: 0px; }

  40% {
    transform: translateX(0%);
    padding-right: 20px; }

  80% {
    padding-right: 0px; }

  90%, 100% {
    transform: translateX(100%); } }

.effeckt-off-screen-nav-right-bounce-out {
  left: auto;
  right: 0;
  transform: translateX(100%);
  transition: 500ms; }
  .effeckt-off-screen-nav-right-bounce-out.effeckt-show {
    visibility: visible;
    transform: translateY(0%); }
  .effeckt-off-screen-nav-right-bounce-out.effeckt-hide {
    animation: navFromRightBounceOut 500ms both ease; }

.effeckt-off-screen-nav-bottom-rotate {
  top: auto;
  width: 100%;
  transform-origin: 100% 50%;
  transition: 500ms;
  transform: translateY(100%) scale(1.01) rotateX(-30deg); }
  .effeckt-off-screen-nav-bottom-rotate ~ [data-effeckt-page].effeckt-page-active {
    transform-origin: 0% 100%;
    transition: 500ms; }
  .effeckt-off-screen-nav-bottom-rotate ~ .effeckt-overlay {
    z-index: 900;
    visibility: visible; }
  .effeckt-off-screen-nav-bottom-rotate.effeckt-show {
    transform: none; }
    .effeckt-off-screen-nav-bottom-rotate.effeckt-show ~ [data-effeckt-page].effeckt-page-active {
      transform: translateY(-260px) rotateX(15deg);
      overflow: hidden; }
    .effeckt-off-screen-nav-bottom-rotate.effeckt-show ~ [data-effeckt-page] .off-screen-nav-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.effeckt-off-screen-nav-top-rotate {
  bottom: auto;
  width: 100%;
  transform-origin: 50% 0%;
  transition: 500ms;
  transform: translateY(-100%) scale(1.01) rotateX(30deg); }
  .effeckt-off-screen-nav-top-rotate ~ [data-effeckt-page].effeckt-page-active {
    transform-origin: 100% 0%;
    transition: 500ms; }
  .effeckt-off-screen-nav-top-rotate ~ .effeckt-overlay {
    z-index: 900;
    visibility: visible; }
  .effeckt-off-screen-nav-top-rotate.effeckt-show {
    transform: none; }
    .effeckt-off-screen-nav-top-rotate.effeckt-show ~ [data-effeckt-page].effeckt-page-active {
      transform: translateY(260px) rotateX(-15deg);
      overflow: hidden; }
    .effeckt-off-screen-nav-top-rotate.effeckt-show ~ [data-effeckt-page] .off-screen-nav-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
