.effeckt-page-transition.effeckt-page-transition-animating {
  visibility: visible; }

.effeckt-page-transition-left-slide-in {
  animation: slideLeftIn 1000ms forwards ease-out; }

.effeckt-page-transition-left-slide-out {
  animation: slideLeftOut 1000ms forwards ease-out; }

@keyframes slideLeftIn {
  0% {
    transform: translateX(100%); }

  100% {
    transform: translateX(0); } }

@keyframes slideLeftOut {
  0% {
    transform: translateX(0); }

  100% {
    transform: translateX(-100%); } }

.effeckt-page-transition-right-slide-in {
  animation: slideRightIn 1000ms forwards ease-out; }

.effeckt-page-transition-right-slide-out {
  animation: slideRightOut 1000ms forwards ease-out; }

@keyframes slideRightIn {
  0% {
    transform: translateX(-100%); }

  100% {
    transform: translateX(0); } }

@keyframes slideRightOut {
  0% {
    transform: translateX(0); }

  100% {
    transform: translateX(100%); } }
