[data-effeckt-page] {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 0;
  padding: 2rem 4rem 0; }
  [data-effeckt-page].effeckt-page-active {
    visibility: visible;
    z-index: 10; }
  [data-effeckt-page].effeckt-page-animating {
    overflow: hidden;
    z-index: 100;
    position: absolute; }

.slide-left-in {
  animation: slideInLeft 1000ms forwards ease-in-out; }

.slide-left-out {
  animation: slideOutLeft 1000ms forwards ease-in-out; }

@keyframes slideInLeft {
  from {
    transform: translateX(100%); }

  to {
    transform: translateX(0%); } }

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

.slide-right-in {
  animation: slideInRight 0.7s forwards ease; }

.slide-right-out {
  animation: slideOutRight 0.7s forwards ease; }

@keyframes slideInRight {
  from {
    transform: translateX(-100%); }

  to {
    transform: translateX(0%); } }

@keyframes slideOutRight {
  to {
    transform: translateX(100%); } }
