.effeckt-page-transition.effeckt-page-transition-animating {
  visibility: visible; }

.animation-delay-100 {
  animation-delay: 0.1s; }

.animation-delay-180 {
  animation-delay: 0.18s; }

.animation-delay-200 {
  animation-delay: 0.2s; }

.animation-delay-300 {
  animation-delay: 0.3s; }

.animation-delay-500 {
  animation-delay: 0.5s; }

.animation-delay-700 {
  animation-delay: 0.7s; }

.animation-delay-1000 {
  animation-delay: 1s; }

.effeckt-page-transition-left-slide-in {
  animation: slideInLeft 0.7s forwards ease-out; }

.effeckt-page-transition-right-slide-in {
  animation: slideInRight 0.7s forwards ease-out; }

.effeckt-page-transition-top-slide-in {
  animation: slideInTop 0.7s forwards ease-out; }

.effeckt-page-transition-bottom-slide-in {
  animation: slideInBottom 0.7s forwards ease-out; }

@keyframes slideInLeft {
  0% {
    transform: translateX(100%); }

  100% {
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    transform: translateX(-100%); }

  100% {
    transform: translateX(0); } }

@keyframes slideInTop {
  0% {
    transform: translateY(-100%); }

  100% {
    transform: translateY(0); } }

@keyframes slideInBottom {
  0% {
    transform: translateY(100%); }

  100% {
    transform: translateY(0); } }

.effeckt-page-transition-left-slide-out {
  animation: slideOutLeft 0.7s forwards ease-out; }

.effeckt-page-transition-right-slide-out {
  animation: slideOutRight 0.7s forwards ease-out; }

.effeckt-page-transition-top-slide-out {
  animation: slideOutTop 0.7s forwards ease-out; }

.effeckt-page-transition-bottom-slide-out {
  animation: slideOutBottom 0.7s forwards ease-out; }

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%); }

  100% {
    transform: translateX(-100%); } }

@keyframes slideOutRight {
  0% {
    transform: translateX(0); }

  100% {
    transform: translateX(100%); } }

@keyframes slideOutTop {
  0% {
    transform: translateY(0); }

  100% {
    transform: translateY(100%); } }

@keyframes slideOutBottom {
  0% {
    transform: translateY(0); }

  100% {
    transform: translateY(-100%); } }

.effeckt-page-transition-down-scale-out {
  animation: scaleDown 0.7s ease both; }

.effeckt-page-transition-up-scale-in {
  animation: scaleUp 0.7s ease both; }

@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.8); } }

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8); } }

.effeckt-page-transition-left-fade-in {
  animation: fadeLeftIn 0.7s ease both; }

.effeckt-page-transition-right-fade-in {
  animation: fadeRightIn 0.7s ease both; }

.effeckt-page-transition-top-fade-in {
  animation: fadeTopIn 0.7s ease both; }

.effeckt-page-transition-bottom-fade-in {
  animation: fadeBottomIn 0.7s ease both; }

@keyframes fadeLeftIn {
  to {
    opacity: 0.3;
    transform: translateX(-100%); } }

@keyframes fadeRightIn {
  to {
    opacity: 0.3;
    transform: translateX(100%); } }

@keyframes fadeTopIn {
  to {
    opacity: 0.3;
    transform: translateY(-100%); } }

@keyframes fadeBottomIn {
  to {
    opacity: 0.3;
    transform: translateY(100%); } }

.effeckt-page-transition-left-fade-out {
  animation: fadeLeftOut 0.7s ease both; }

.effeckt-page-transition-right-fade-out {
  animation: fadeRightOut 0.7s ease both; }

.effeckt-page-transition-top-fade-out {
  animation: fadeTopOut 0.7s ease both; }

.effeckt-page-transition-bottom-fade-out {
  animation: fadeBottomOut 0.7s ease both; }

@keyframes fadeLeftOut {
  from {
    opacity: 0.3;
    transform: translateX(-100%); } }

@keyframes fadeRightOut {
  from {
    opacity: 0.3;
    transform: translateX(100%); } }

@keyframes fadeTopOut {
  from {
    opacity: 0.3;
    transform: translateY(-100%); } }

@keyframes fadeBottomOut {
  from {
    opacity: 0.3;
    transform: translateY(100%); } }

.effeckt-page-transition-left-flip-in {
  transform-origin: 50% 50%;
  animation: flipInLeft 0.5s both ease-out; }

.effeckt-page-transition-right-flip-out {
  transform-origin: 50% 50%;
  animation: flipOutRight 0.5s both ease-in; }

@keyframes flipInLeft {
  from {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateY(-90deg); } }

@keyframes flipOutRight {
  to {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateY(90deg); } }

.effeckt-page-transition-newspaper-out {
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper 0.5s both ease-in; }

.effeckt-page-transition-newspaper-in {
  transform-origin: 50% 50%;
  animation: rotateInNewspaper 0.5s both ease-out; }

@keyframes rotateOutNewspaper {
  to {
    opacity: 1;
    transform: translateZ(-3000px) rotateZ(360deg); } }

@keyframes rotateInNewspaper {
  from {
    opacity: 1;
    transform: translateZ(-3000px) rotateZ(-360deg); } }

.effeckt-page-transition-left-rotate-push {
  transform-origin: 0% 50%;
  animation: rotatePushLeft 0.8s both ease; }

.effeckt-page-transition-right-rotate-push {
  transform-origin: 100% 50%;
  animation: rotatePushRight 0.8s both ease; }

.effeckt-page-transition-top-rotate-push {
  transform-origin: 50% 0%;
  animation: rotatePushTop 0.8s both ease; }

.effeckt-page-transition-bottom-rotate-push {
  transform-origin: 50% 100%;
  animation: rotatePushBottom 0.8s both ease; }

@keyframes rotatePushLeft {
  to {
    opacity: 0;
    transform: rotateY(90deg); } }

@keyframes rotatePushRight {
  to {
    opacity: 0;
    transform: rotateY(-90deg); } }

@keyframes rotatePushTop {
  to {
    opacity: 0;
    transform: rotateX(-90deg); } }

@keyframes rotatePushBottom {
  to {
    opacity: 0;
    transform: rotateX(90deg); } }

.effeckt-page-transition-left-rotate-pull {
  transform-origin: 0% 50%;
  animation: rotatePullLeft 0.5s both ease; }

.effeckt-page-transition-right-rotate-pull {
  transform-origin: 100% 50%;
  animation: rotatePullRight 0.5s both ease; }

.effeckt-page-transition-top-rotate-pull {
  transform-origin: 50% 0%;
  animation: rotatePullTop 0.5s both ease; }

.effeckt-page-transition-bottom-rotate-pull {
  transform-origin: 50% 100%;
  animation: rotatePullBottom 0.5s both ease; }

@keyframes rotatePullLeft {
  from {
    opacity: 0;
    transform: rotateY(90deg); } }

@keyframes rotatePullRight {
  from {
    opacity: 0;
    transform: rotateY(-90deg); } }

@keyframes rotatePullTop {
  from {
    opacity: 0;
    transform: rotateX(-90deg); } }

@keyframes rotatePullBottom {
  from {
    opacity: 0;
    transform: rotateX(90deg); } }

.effeckt-page-transition-left-rotate-fold {
  transform-origin: 100% 50%;
  animation: rotateFoldLeft 0.7s both ease; }

.effeckt-page-transition-right-rotate-fold {
  transform-origin: 0% 50%;
  animation: rotateFoldRight 0.7s both ease; }

.effeckt-page-transition-top-rotate-fold {
  transform-origin: 50% 100%;
  animation: rotateFoldTop 0.7s both ease; }

.effeckt-page-transition-bottom-rotate-fold {
  transform-origin: 50% 0%;
  animation: rotateFoldBottom 0.7s both ease; }

@keyframes rotateFoldLeft {
  to {
    opacity: 0;
    transform: translateX(-100%) rotateY(-90deg); } }

@keyframes rotateFoldRight {
  to {
    opacity: 0;
    transform: translateX(100%) rotateY(90deg); } }

@keyframes rotateFoldTop {
  to {
    opacity: 0;
    transform: translateY(-100%) rotateX(90deg); } }

@keyframes rotateFoldBottom {
  to {
    opacity: 0;
    transform: translateY(100%) rotateX(-90deg); } }
