[data-effeckt-page] {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 0;
  padding: 2rem 4rem 0;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d; }
  [data-effeckt-page].effeckt-page-active {
    visibility: visible;
    z-index: 10; }
  [data-effeckt-page].effeckt-page-animating {
    overflow: hidden;
    z-index: 100;
    position: absolute; }

[data-effeckt-page].slide-from-left {
  animation: slideFromLeft 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-to-left {
  animation: slideToLeft 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-from-right {
  animation: slideFromRight 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-to-right {
  animation: slideToRight 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-from-top {
  animation: slideFromTop 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-to-top {
  animation: slideToTop 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-from-bottom {
  animation: slideFromBottom 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-to-bottom {
  animation: slideToBottom 1000ms forwards ease-in-out; }

[data-effeckt-page].scale-up-from-behind {
  animation: scaleUpFromBehind 1000ms forwards ease-in-out; }

[data-effeckt-page].scale-up-to-front {
  animation: scaleUpToFront 1000ms forwards ease-in-out; }

[data-effeckt-page].scale-down-to-behind {
  animation: scaleDownToBehind 1000ms forwards ease-in-out; }

[data-effeckt-page].scale-down-from-front {
  opacity: 0;
  animation: scaleDownFromFront 1000ms forwards ease-in-out; }

[data-effeckt-page].scale-down-to-left {
  animation: scaleDownToLeft 2000ms forwards ease-in-out; }

[data-effeckt-page].scale-down-from-right {
  animation: scaleDownFromRight 2000ms forwards ease-in-out; }

@keyframes slideFromTop {
  from {
    transform: translateY(-100%); } }

@keyframes slideToTop {
  to {
    transform: translateY(-100%); } }

@keyframes slideFromRight {
  from {
    transform: translateX(100%); } }

@keyframes slideToRight {
  to {
    transform: translateX(100%); } }

@keyframes slideFromBottom {
  from {
    transform: translateY(100%); } }

@keyframes slideToBottom {
  to {
    transform: translateY(100%); } }

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); } }

@keyframes slideToLeft {
  to {
    transform: translateX(-100%); } }

@keyframes scaleUpFromBehind {
  from {
    opacity: 0;
    transform: scale(0.5); } }

@keyframes scaleUpToFront {
  to {
    opacity: 0;
    transform: scale(1.3); } }

@keyframes scaleDownToBehind {
  to {
    opacity: 0;
    transform: scale(0.5); } }

@keyframes scaleDownFromFront {
  from {
    opacity: 0;
    transform: scale(1.3); }

  to {
    opacity: 1; } }

@keyframes scaleDownToLeft {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px); }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }

@keyframes scaleDownFromRight {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%); }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px); }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }

[data-effeckt-page].scale-up-to-front.effeckt-page-animating, [data-effeckt-page].scale-down-from-front.effeckt-page-animating {
  z-index: 999; }



[data-effeckt-page].scale-up-from-behind, [data-effeckt-page].scale-down-from-front {
  animation-delay: 0.3s; }



