.pages-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.effeckt-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
  overflow: auto;
  visibility: hidden;
}

.effeckt-page.effeckt-page-active {
  visibility: visible;
}

.effeckt-page.effeckt-page-animating {
  overflow: hidden;
  z-index: 100;
}

.slide-left-in {
  -webkit-animation: slideInLeft 0.7s forwards ease;
  -o-animation: slideInLeft 0.7s forwards ease;
  animation: slideInLeft 0.7s forwards ease;
}

.slide-left-out {
  -webkit-animation: slideOutLeft 0.7s forwards ease;
  -o-animation: slideOutLeft 0.7s forwards ease;
  animation: slideOutLeft 0.7s forwards ease;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-o-keyframes slideInLeft {
  from {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes slideOutLeft {
  to {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.slide-right-in {
  -webkit-animation: slideInRight 0.7s forwards ease;
  -o-animation: slideInRight 0.7s forwards ease;
  animation: slideInRight 0.7s forwards ease;
}

.slide-right-out {
  -webkit-animation: slideOutRight 0.7s forwards ease;
  -o-animation: slideOutRight 0.7s forwards ease;
  animation: slideOutRight 0.7s forwards ease;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-o-keyframes slideInRight {
  from {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideOutRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes slideOutRight {
  to {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}