.effeckt-positional-modal-wrap {
  position: absolute;
  z-index: 10;
  display: none;
  padding: 10px;
  background-color: #ccc; }
  .effeckt-positional-modal-wrap .effeckt-positional-modal:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-top: 10px solid #ccc;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .effeckt-positional-modal-wrap.effeckt-front {
    z-index: 20; }
