/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.effeckt-tabs-wrap ul.effeckt-tabs:before, .effeckt-tabs-wrap ul.effeckt-tabs:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.effeckt-tabs-wrap ul.effeckt-tabs:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.effeckt-tabs-wrap ul.effeckt-tabs {
  *zoom: 1; }

.effeckt-tabs-wrap {
  position: relative; }
  .effeckt-tabs-wrap ul.effeckt-tabs {
    margin: 0;
    padding: 0;
    list-style: none; }
    .effeckt-tabs-wrap ul.effeckt-tabs li {
      float: left;
      margin-right: 2px; }
      .effeckt-tabs-wrap ul.effeckt-tabs li a {
        display: block;
        padding: 10px 15px;
        color: #383838;
        background-color: #eeeeee; }
        .effeckt-tabs-wrap ul.effeckt-tabs li a.active, .effeckt-tabs-wrap ul.effeckt-tabs li a:hover {
          background-color: #e8e8e8; }
  .effeckt-tabs-wrap .tabs-container {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    transition: all 500ms ease-in-out; }
    .effeckt-tabs-wrap .tabs-container .effeckt-tab-content {
      position: absolute;
      top: 10px;
      transition: all 250ms ease-in-out; }
  .effeckt-tabs-wrap[data-effeckt-type='scale'] .effeckt-tab-content.hide-scale {
    transform: scale(0.9);
    opacity: 0; }
  .effeckt-tabs-wrap[data-effeckt-type='scale'] .effeckt-tab-content.show-scale {
    transform: scale(1);
    transition-delay: 0.3s;
    opacity: 1; }
  .effeckt-tabs-wrap[data-effeckt-type='scale-up'] .effeckt-tab-content.hide-scale-up {
    transform: scale(1.1);
    opacity: 0; }
  .effeckt-tabs-wrap[data-effeckt-type='scale-up'] .effeckt-tab-content.show-scale-up {
    transform: scale(1);
    transition-delay: 0.3s;
    opacity: 1; }
  .effeckt-tabs-wrap[data-effeckt-type='slide-left'] .tabs-container {
    overflow: hidden; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-left'] .tabs-container .effeckt-tab-content.hide-slide-left {
      transform: translateX(-100%);
      opacity: 0; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-left'] .tabs-container .effeckt-tab-content.show-slide-left {
      transform: translateX(0%);
      transition-delay: 0.3s;
      opacity: 1; }
  .effeckt-tabs-wrap[data-effeckt-type='slide-right'] .tabs-container {
    overflow: hidden; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-right'] .tabs-container .effeckt-tab-content.hide-slide-right {
      transform: translateX(100%);
      opacity: 0; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-right'] .tabs-container .effeckt-tab-content.show-slide-right {
      transform: translateX(0%);
      transition-delay: 0.3s;
      opacity: 1; }
  .effeckt-tabs-wrap[data-effeckt-type='slide-up'] .tabs-container {
    overflow: hidden; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-up'] .tabs-container .effeckt-tab-content.hide-slide-up {
      transform: translateY(-100%);
      opacity: 0; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-up'] .tabs-container .effeckt-tab-content.show-slide-up {
      transform: translateY(0%);
      transition-delay: 0.3s;
      opacity: 1; }
  .effeckt-tabs-wrap[data-effeckt-type='slide-down'] .tabs-container {
    overflow: hidden; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-down'] .tabs-container .effeckt-tab-content.hide-slide-down {
      transform: translateY(100%);
      opacity: 0; }
    .effeckt-tabs-wrap[data-effeckt-type='slide-down'] .tabs-container .effeckt-tab-content.show-slide-down {
      transform: translateX(0%);
      transition-delay: 0.3s;
      opacity: 1; }
  .effeckt-tabs-wrap[data-effeckt-type='flip'] .tabs-container {
    overflow: hidden; }
    .effeckt-tabs-wrap[data-effeckt-type='flip'] .tabs-container .effeckt-tab-content.hide-flip {
      transform: rotateY(-90deg) scale(1.1);
      opacity: 0; }
    .effeckt-tabs-wrap[data-effeckt-type='flip'] .tabs-container .effeckt-tab-content.show-flip {
      transform: rotateY(0deg) scale(1);
      transition-delay: 0.3s;
      opacity: 1; }
