// Effect: 3D flip horizontal
.flip-horizontal-3D {
  perspective: $effeckt-perspective;
  transform-style: preserve-3d;
}
.flip-horizontal-3D .effeckt-modal {
  transform: rotateY(-70deg);
  opacity: 0;
}
.effeckt-show.flip-horizontal-3D .effeckt-modal {
  transform: rotateY(0deg);
  opacity: 1;
}


// Effect: 3D flip vertical
.flip-vertical-3D {
  perspective: $effeckt-perspective;
  transform-style: preserve-3d;
}
.flip-vertical-3D .effeckt-modal {
  transform: rotateX(-70deg);
  opacity: 0;
}
.effeckt-show.flip-vertical-3D .effeckt-modal {
  transform: rotateX(0deg);
  opacity: 1;
}


// Effect: 3D sign
.sign-3D {
  perspective: $effeckt-perspective;
  transform-style: preserve-3d;
}
.sign-3D .effeckt-modal {
  transform: rotateX(-60deg);
  transform-origin: 50% 0;
  opacity: 0;
}
.effeckt-show.sign-3D .effeckt-modal {
  transform: rotateX(0deg);
  opacity: 1;
}


// Effect: 3D Slit
.slit-3D {
  perspective: $effeckt-perspective;
  transform-style: preserve-3d;
}
.slit-3D .effeckt-modal {
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}
.effeckt-show.slit-3D .effeckt-modal {
  animation: modalSlit 0.7s forwards ease-out;
}

@keyframes modalSlit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    opacity: 0.75;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}


// Effect:  3D Rotate from bottom
.rotate-from-bottom-3D {
  perspective: $effeckt-perspective;
  transform-style: preserve-3d;
}
.rotate-from-bottom-3D .effeckt-modal {
  transform: translateY(100%) rotateX(90deg);
  transform-origin: 0 100%;
  opacity: 0;
}
.effeckt-show.rotate-from-bottom-3D .effeckt-modal {
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}


// Effect:  3D Rotate in from left
.rotate-from-left-3D {
  perspective: $effeckt-perspective;
  transform-style: preserve-3d;
}
.rotate-from-left-3D .effeckt-modal {
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform-origin: 0 100%;
  opacity: 0;
}
.effeckt-show.rotate-from-left-3D .effeckt-modal {
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}


// Let me in
.let-me-in ~ [data-effeckt-page] {
  transition: $effeckt-modal-transition-duration;
}

.effeckt-show.let-me-in ~ [data-effeckt-page],
.effeckt-show.let-me-in ~ .effeckt-modal-overlay  {
  transform: rotateX(-2deg);
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}
.let-me-in .effeckt-modal {
  opacity: 0;
  transform: translateY(200%);
}
.effeckt-show.let-me-in .effeckt-modal {
  transform: translateY(-50%);
  opacity: 1;
}


// Effect: Make way
.effeckt-show.make-way ~ [data-effeckt-page] {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  animation: makeWay $effeckt-modal-transition-duration forwards ease-in;
  overflow: visible;
}

.make-way .effeckt-modal {
  transform: translateX(200%);
  opacity: 0;
}
.effeckt-show.make-way .effeckt-modal {
  transform: translateX(0);
  opacity: 1;
}

@keyframes makeWay {
  50% {
    transform: translateZ(-50px) rotateY(5deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateZ(-200px);
  }
}


// Effect: Deep Content
.deep-content .effeckt-modal {
  transform: scale(0.7);
  opacity: 0;
}

.deep-content ~ [data-effeckt-page] {
  transform: scale(1);
  transition: $effeckt-modal-transition-duration;
  height: 100%;
  overflow: hidden;
}

.effeckt-show.deep-content ~ [data-effeckt-page] {
  transform: scale(0.85);
  filter: blur(3px);
  //overflow: visible;
}
.effeckt-show.deep-content .effeckt-modal {
  transform: scale(1.1);
  opacity: 1;
}
