<nav class="effeckt-off-screen-nav" id="effeckt-off-screen-nav">

  <header>
    <h4>
      Navigation
    </h4>
    <a href="#0" id="effeckt-off-screen-nav-close" class="effeckt-off-screen-nav-close">×</a>
  </header>

  <ul>
    <li><a href="#0">This</a></li>
    <li><a href="#0">Little</a></li>
    <li><a href="#0">Piggy</a></li>
    <li><a href="#0">Went</a></li>
    <li><a href="#0">To</a></li>
    <li><a href="#0">Market</a></li>
  </ul>

</nav>
