<nav class="effeckt-off-screen-nav" id="effeckt-off-screen-nav">
  <h4>Navigation
  <a href="#0" id="effeckt-off-screen-nav-close" class="effeckt-off-screen-nav-close">×</a></h4>
  <ul>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
    <li><a href="#0">Lorem</a></li>
  </ul>

</nav>