<div class="effeckt-page-transition" id="effeckt-page-transition">

    <div class="effeckt-page-transition-content">

      <h2>Page Transition</h2>

      <p>This is another page.</p>

      <button class="page-transition-reset-button">Reset Transition</button>

    </div>

</div>
