.effeckt-tooltip[data-effeckt-tooltip-text] {
  position: relative;
  display: inline-block; }
  .effeckt-tooltip[data-effeckt-tooltip-text]::before, .effeckt-tooltip[data-effeckt-tooltip-text]::after {
    opacity: 0;
    transition: 0.2s; }
  .effeckt-tooltip[data-effeckt-tooltip-text]:hover::before, .effeckt-tooltip[data-effeckt-tooltip-text]:hover::after {
    visibility: visible;
    opacity: 1;
    transition: 0.2s 0.3s; }

.effeckt-tooltip[data-effeckt-type="bubble"]::after {
  content: attr(data-effeckt-tooltip-text);
  position: absolute;
  border-radius: 10px;
  background: black;
  color: white;
  padding: 0.45rem 0.8rem;
  font-size: 90%;
  white-space: nowrap;
  visibility: hidden;
  z-index: 2; }
.effeckt-tooltip[data-effeckt-type="bubble"]::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute; }

.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]::after {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]:before, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]:before {
  left: 50%;
  margin-left: -5px; }

.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]::before {
  bottom: 125%; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]::before {
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-bottom: -4px; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]:hover::before, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="top"]:hover::after {
  bottom: 115%; }

.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]::before {
  top: 125%; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]::before {
  border-bottom: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-top: -4px; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]:hover::before, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="bottom"]:hover::after {
  top: 115%; }

.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]:before, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]:before {
  top: 45%;
  -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
          transform: translateY(-45%);
  margin-top: 2px; }

.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]::before {
  left: 115%; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]::before {
  border-right: 5px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: -4px; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]:hover::before, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="right"]:hover::after {
  left: 105%; }

.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]::after, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]::before {
  right: 115%; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]::before {
  border-left: 5px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-right: -4px; }
.effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]:hover::before, .effeckt-tooltip[data-effeckt-type="bubble"][data-effeckt-position="left"]:hover::after {
  right: 105%; }
