@import url(http://fonts.googleapis.com/css?family=Kite+One);

// Additional Reset
* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'Kite One', sans-serif;

  overflow-x: hidden; // for logo effect

  transform: translateZ(0); // for performance
}

// Layout
.page-wrap {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}
.effeckt {
  padding: 1rem;
  background: white;
  margin: 0 1rem 1rem 0;
}

// Typography
a {
  color: #900;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
}
subhead {
  font-size: 1.4rem;
}
h1 {
  font-size: 0;
  margin: 0 0 0.5rem;
}
h1 span {
  font-size: 3rem;
  position: relative;
  display: inline-block;
  opacity: 0;
}
h2 {
  border-bottom: 2px solid #eee;
}
h2 a {
  font-size: 1rem;
}
h1 span:nth-child(1) {
  animation: logo-from-horz 0.5s ease forwards;
  transform: translateX(-50px);
}
h1 span:nth-child(2) {
  animation: logo-from-vert 0.5s ease forwards;
  transform: translateY(-50px);
}
h1 span:nth-child(3) {
  animation: logo-from-vert 0.5s ease forwards;
  transform: translateX(50px);
}
h1 span:nth-child(4) {
  animation: logo-from-horz 0.3s ease forwards;
  transform: translateX(50px);
}
h1 span:nth-child(5) {
  animation: logo-from-horz 0.3s ease forwards;
  transform: translateX(-50px);
}
h1 span:nth-child(6) {
  animation: logo-from-horz 0.3s ease forwards;
  transform: translateX(50px);
}
h1 span:nth-child(7) {
  animation: logo-from-vert 0.3s ease forwards;
  transform: translateX(-50px);
}
h1 span:nth-child(8) {
  animation: logo-from-vert 0.2s 0.5s ease forwards;
  transform: translateX(1000px);
}
@keyframes logo-from-horz {
  100% { -webkit-transform: translateX(0); opacity: 1; }
}
@keyframes logo-from-vert {
  100% { -webkit-transform: translateY(0); opacity: 1;}
}