@import url(http://fonts.googleapis.com/css?family=Kite+One);

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-transitions,
.no-transitions * {
  transition: none !important;
}

// is needed for overlay
html, body {
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Kite One', sans-serif;
  font-size: large;
  line-height: 1.4;
  overflow-x: hidden; // for logo effect
  transform: translateZ(0); // for performance
}

// Layout
.page-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
.effeckt {
  padding: 2rem;
  background: white;
  margin: 0 1rem 1rem 0;
}



// Typography
a {
  color: #900;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
}
subhead {
  display: block;
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
}
h1 {
  margin: 0 0 1rem 0;
}
h1 span {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  opacity: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ccc;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  margin: 0 0 1rem 0;
  padding: 0 0 0.2rem 0;
  border-bottom: 2px solid #eee;
}
h2 a {
  font-size: 1rem;
}
p {
  margin: 0 0 1rem 0;
}

button {
  padding: 0.25rem;
}

h1 span:nth-child(1) {
  animation: logo-from-horz 0.5s ease forwards;
  transform: translateX(-50px);
  background: #3498db;
}
h1 span:nth-child(2) {
  animation: logo-from-vert 0.5s 0.1s ease forwards;
  transform: translateY(-50px);
  background: #2980b9;
}
h1 span:nth-child(3) {
  animation: logo-from-vert 0.5s 0.2s ease forwards;
  transform: translateX(50px);
  background: #3498db;
}
h1 span:nth-child(4) {
  animation: logo-from-horz 0.3s 0.3s ease forwards;
  transform: translateX(50px);
  background: #2980b9;
}
h1 span:nth-child(5) {
  animation: logo-from-horz 0.3s 0.4s ease forwards;
  transform: translateX(-50px);
  background: #3498db;
}
h1 span:nth-child(6) {
  animation: logo-from-horz 0.3s 0.5s ease forwards;
  transform: translateX(50px);
  background: #2980b9;
}
h1 span:nth-child(7) {
  animation: logo-from-vert 0.3s 0.6s ease forwards;
  transform: translateY(-50px);
  background: #3498db;
}
h1 span:nth-child(8) {
  animation: logo-from-horz 0.2s 1.1s ease forwards;
  transform: translateX(1000px);
  background: none;
  color: black;
}
h1 span:nth-child(9) {
  animation: logo-from-horz 0.2s 1.1s ease forwards;
  transform: translateX(1000px);
}
h1 span:nth-child(10) {
  animation: logo-from-horz 0.2s 1.1s ease forwards;
  transform: translateX(1000px);
}
h1 span:nth-child(11) {
  animation: logo-from-horz 0.2s 1.1s ease forwards;
  transform: translateX(1000px);
}
@keyframes logo-from-horz {
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes logo-from-vert {
  100% { transform: translateY(0); opacity: 1;}
}