// TODO
// - Some of the moment happening here is happening with top/left instead of translate()

@import "../_variables";

.effeckt-button {
  position: relative;
  font-family: inherit;
  cursor: pointer;

  // As of 8-17-13, Autoprefixer does not catch these
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.effeckt-button[data-loading] {
  cursor: default;
}

// Container with perspective
.perspective {
  perspective-origin: 50% 50%;
  perspective: $effeckt-perspective;
}

// Spinner animation
.effeckt-button .spinner {
  position: absolute;
  width: $effeckt-buttons-spinner-size;
  height: $effeckt-buttons-spinner-size;
  top: 50%;
  margin-top: -($effeckt-buttons-spinner-size / 2);
  margin-left: -($effeckt-buttons-spinner-size / 2);
  opacity: 0;
  background-image: url( data:image/gif;base64,R0lGODlhIAAgAPMAAJmZmf///6+vr8nJybW1tcDAwOjo6Nvb26ioqKOjo7Ozs/Ly8vz8/AAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAIAAgAAAE5xDISWlhperN52JLhSSdRgwVo1ICQZRUsiwHpTJT4iowNS8vyW2icCF6k8HMMBkCEDskxTBDAZwuAkkqIfxIQyhBQBFvAQSDITM5VDW6XNE4KagNh6Bgwe60smQUB3d4Rz1ZBApnFASDd0hihh12BkE9kjAJVlycXIg7CQIFA6SlnJ87paqbSKiKoqusnbMdmDC2tXQlkUhziYtyWTxIfy6BE8WJt5YJvpJivxNaGmLHT0VnOgSYf0dZXS7APdpB309RnHOG5gDqXGLDaC457D1zZ/V/nmOM82XiHRLYKhKP1oZmADdEAAAh+QQJCgAAACwAAAAAIAAgAAAE6hDISWlZpOrNp1lGNRSdRpDUolIGw5RUYhhHukqFu8DsrEyqnWThGvAmhVlteBvojpTDDBUEIFwMFBRAmBkSgOrBFZogCASwBDEY/CZSg7GSE0gSCjQBMVG023xWBhklAnoEdhQEfyNqMIcKjhRsjEdnezB+A4k8gTwJhFuiW4dokXiloUepBAp5qaKpp6+Ho7aWW54wl7obvEe0kRuoplCGepwSx2jJvqHEmGt6whJpGpfJCHmOoNHKaHx61WiSR92E4lbFoq+B6QDtuetcaBPnW6+O7wDHpIiK9SaVK5GgV543tzjgGcghAgAh+QQJCgAAACwAAAAAIAAgAAAE7hDISSkxpOrN5zFHNWRdhSiVoVLHspRUMoyUakyEe8PTPCATW9A14E0UvuAKMNAZKYUZCiBMuBakSQKG8G2FzUWox2AUtAQFcBKlVQoLgQReZhQlCIJesQXI5B0CBnUMOxMCenoCfTCEWBsJColTMANldx15BGs8B5wlCZ9Po6OJkwmRpnqkqnuSrayqfKmqpLajoiW5HJq7FL1Gr2mMMcKUMIiJgIemy7xZtJsTmsM4xHiKv5KMCXqfyUCJEonXPN2rAOIAmsfB3uPoAK++G+w48edZPK+M6hLJpQg484enXIdQFSS1u6UhksENEQAAIfkECQoAAAAsAAAAACAAIAAABOcQyEmpGKLqzWcZRVUQnZYg1aBSh2GUVEIQ2aQOE+G+cD4ntpWkZQj1JIiZIogDFFyHI0UxQwFugMSOFIPJftfVAEoZLBbcLEFhlQiqGp1Vd140AUklUN3eCA51C1EWMzMCezCBBmkxVIVHBWd3HHl9JQOIJSdSnJ0TDKChCwUJjoWMPaGqDKannasMo6WnM562R5YluZRwur0wpgqZE7NKUm+FNRPIhjBJxKZteWuIBMN4zRMIVIhffcgojwCF117i4nlLnY5ztRLsnOk+aV+oJY7V7m76PdkS4trKcdg0Zc0tTcKkRAAAIfkECQoAAAAsAAAAACAAIAAABO4QyEkpKqjqzScpRaVkXZWQEximw1BSCUEIlDohrft6cpKCk5xid5MNJTaAIkekKGQkWyKHkvhKsR7ARmitkAYDYRIbUQRQjWBwJRzChi9CRlBcY1UN4g0/VNB0AlcvcAYHRyZPdEQFYV8ccwR5HWxEJ02YmRMLnJ1xCYp0Y5idpQuhopmmC2KgojKasUQDk5BNAwwMOh2RtRq5uQuPZKGIJQIGwAwGf6I0JXMpC8C7kXWDBINFMxS4DKMAWVWAGYsAdNqW5uaRxkSKJOZKaU3tPOBZ4DuK2LATgJhkPJMgTwKCdFjyPHEnKxFCDhEAACH5BAkKAAAALAAAAAAgACAAAATzEMhJaVKp6s2nIkolIJ2WkBShpkVRWqqQrhLSEu9MZJKK9y1ZrqYK9WiClmvoUaF8gIQSNeF1Er4MNFn4SRSDARWroAIETg1iVwuHjYB1kYc1mwruwXKC9gmsJXliGxc+XiUCby9ydh1sOSdMkpMTBpaXBzsfhoc5l58Gm5yToAaZhaOUqjkDgCWNHAULCwOLaTmzswadEqggQwgHuQsHIoZCHQMMQgQGubVEcxOPFAcMDAYUA85eWARmfSRQCdcMe0zeP1AAygwLlJtPNAAL19DARdPzBOWSm1brJBi45soRAWQAAkrQIykShQ9wVhHCwCQCACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiRMDjI0Fd30/iI2UA5GSS5UDj2l6NoqgOgN4gksEBgYFf0FDqKgHnyZ9OX8HrgYHdHpcHQULXAS2qKpENRg7eAMLC7kTBaixUYFkKAzWAAnLC7FLVxLWDBLKCwaKTULgEwbLA4hJtOkSBNqITT3xEgfLpBtzE/jiuL04RGEBgwWhShRgQExHBAAh+QQJCgAAACwAAAAAIAAgAAAE7xDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfZiCqGk5dTESJeaOAlClzsJsqwiJwiqnFrb2nS9kmIcgEsjQydLiIlHehhpejaIjzh9eomSjZR+ipslWIRLAgMDOR2DOqKogTB9pCUJBagDBXR6XB0EBkIIsaRsGGMMAxoDBgYHTKJiUYEGDAzHC9EACcUGkIgFzgwZ0QsSBcXHiQvOwgDdEwfFs0sDzt4S6BK4xYjkDOzn0unFeBzOBijIm1Dgmg5YFQwsCMjp1oJ8LyIAACH5BAkKAAAALAAAAAAgACAAAATwEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GGl6NoiPOH16iZKNlH6KmyWFOggHhEEvAwwMA0N9GBsEC6amhnVcEwavDAazGwIDaH1ipaYLBUTCGgQDA8NdHz0FpqgTBwsLqAbWAAnIA4FWKdMLGdYGEgraigbT0OITBcg5QwPT4xLrROZL6AuQAPUS7bxLpoWidY0JtxLHKhwwMJBTHgPKdEQAACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GAULDJCRiXo1CpGXDJOUjY+Yip9DhToJA4RBLwMLCwVDfRgbBAaqqoZ1XBMHswsHtxtFaH1iqaoGNgAIxRpbFAgfPQSqpbgGBqUD1wBXeCYp1AYZ19JJOYgH1KwA4UBvQwXUBxPqVD9L3sbp2BNk2xvvFPJd+MFCN6HAAIKgNggY0KtEBAAh+QQJCgAAACwAAAAAIAAgAAAE6BDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfYIDMaAFdTESJeaEDAIMxYFqrOUaNW4E4ObYcCXaiBVEgULe0NJaxxtYksjh2NLkZISgDgJhHthkpU4mW6blRiYmZOlh4JWkDqILwUGBnE6TYEbCgevr0N1gH4At7gHiRpFaLNrrq8HNgAJA70AWxQIH1+vsYMDAzZQPC9VCNkDWUhGkuE5PxJNwiUK4UfLzOlD4WvzAHaoG9nxPi5d+jYUqfAhhykOFwJWiAAAIfkECQoAAAAsAAAAACAAIAAABPAQyElpUqnqzaciSoVkXVUMFaFSwlpOCcMYlErAavhOMnNLNo8KsZsMZItJEIDIFSkLGQoQTNhIsFehRww2CQLKF0tYGKYSg+ygsZIuNqJksKgbfgIGepNo2cIUB3V1B3IvNiBYNQaDSTtfhhx0CwVPI0UJe0+bm4g5VgcGoqOcnjmjqDSdnhgEoamcsZuXO1aWQy8KAwOAuTYYGwi7w5h+Kr0SJ8MFihpNbx+4Erq7BYBuzsdiH1jCAzoSfl0rVirNbRXlBBlLX+BP0XJLAPGzTkAuAOqb0WT5AH7OcdCm5B8TgRwSRKIHQtaLCwg1RAAAOwAAAAAAAAAAAA==);
  background-size: $effeckt-buttons-spinner-size auto;
}


// Easing Setup
.effeckt-button,
.effeckt-button .spinner,
.effeckt-button .label {
  transition: $effeckt-buttons-transition-duration cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
}

.effeckt-button[data-effeckt-type="zoom-in"],
.effeckt-button[data-effeckt-type="zoom-in"] .spinner,
.effeckt-button[data-effeckt-type="zoom-in"] .label,
.effeckt-button[data-effeckt-type="zoom-out"],
.effeckt-button[data-effeckt-type="zoom-out"] .spinner,
.effeckt-button[data-effeckt-type="zoom-out"] .label {
  transition: $effeckt-buttons-transition-duration ease all;
}


// Expand Right
.effeckt-button[data-effeckt-type="expand-right"] .spinner {
  right: $effeckt-buttons-spinner-size / 2;
}
.effeckt-button[data-effeckt-type="expand-right"][data-loading] {
  padding-right: $effeckt-buttons-spinner-size * 2;
}
.effeckt-button[data-effeckt-type="expand-right"][data-loading] .spinner {
  opacity: 1;
}


// Expand Left
.effeckt-button[data-effeckt-type="expand-left"] .spinner {
  left: $effeckt-buttons-spinner-size / 2;
  margin-left: 0;
}
.effeckt-button[data-effeckt-type="expand-left"][data-loading] {
  padding-left: $effeckt-buttons-spinner-size * 2
}
.effeckt-button[data-effeckt-type="expand-left"][data-loading] .spinner {
  opacity: 1;
}


// Expand Up
.effeckt-button[data-effeckt-type="expand-up"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="expand-up"] .spinner {
  top: $effeckt-buttons-spinner-size;
  left: 50%;
}
.effeckt-button[data-effeckt-type="expand-up"][data-loading] {
  padding-top: $effeckt-buttons-spinner-size * 2;
}
.effeckt-button[data-effeckt-type="expand-up"][data-loading] .spinner {
  opacity: 1;
  top: $effeckt-buttons-spinner-size / 2;
  margin-top: 0;
}


// Expand Down
.effeckt-button[data-effeckt-type="expand-down"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="expand-down"] .spinner {
  left: 50%;
  top: 100%;
  margin-top: -($effeckt-buttons-spinner-size * 1.5);
}
.effeckt-button[data-effeckt-type="expand-down"][data-loading] {
  padding-bottom: $effeckt-buttons-spinner-size * 2;
}
.effeckt-button[data-effeckt-type="expand-down"][data-loading] .spinner {
  opacity: 1;
}


// Slide Left
.effeckt-button[data-effeckt-type="slide-left"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="slide-left"] .label {
  position: relative;
}
.effeckt-button[data-effeckt-type="slide-left"] .spinner {
  left: 100%;
}
.effeckt-button[data-effeckt-type="slide-left"][data-loading] .label {
  opacity: 0;
  left: -100%;
}
.effeckt-button[data-effeckt-type="slide-left"][data-loading] .spinner {
  opacity: 1;
  left: 50%;
}


// Slide right
.effeckt-button[data-effeckt-type="slide-right"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="slide-right"] .label {
  position: relative;
}
.effeckt-button[data-effeckt-type="slide-right"] .spinner {
  left: 0%;
}
.effeckt-button[data-effeckt-type="slide-right"][data-loading] .label {
  opacity: 0;
  left: 100%;
}
.effeckt-button[data-effeckt-type="slide-right"][data-loading] .spinner {
  opacity: 1;
  left: 50%;
}


// Slide Up
.effeckt-button[data-effeckt-type="slide-up"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="slide-up"] .label {
  position: relative;
}
.effeckt-button[data-effeckt-type="slide-up"] .spinner {
  left: 50%;
  top: 100%;
}
.effeckt-button[data-effeckt-type="slide-up"][data-loading] .label {
  opacity: 0;
  top: -1em;
}
.effeckt-button[data-effeckt-type="slide-up"][data-loading] .spinner {
  opacity: 1;
  top: 50%;
}


// Slide Down
.effeckt-button[data-effeckt-type="slide-down"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="slide-down"] .label {
  position: relative;
}
.effeckt-button[data-effeckt-type="slide-down"] .spinner {
  left: 50%;
  top: 0%;
}
.effeckt-button[data-effeckt-type="slide-down"][data-loading] .label {
  opacity: 0;
  top: 1em;
}
.effeckt-button[data-effeckt-type="slide-down"][data-loading] .spinner {
  opacity: 1;
  top: 50%;
}


// Zoom Out
.effeckt-button[data-effeckt-type="zoom-out"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="zoom-out"] .spinner {
  left: 50%;
  transform: scale(2.5);
}
.effeckt-button[data-effeckt-type="zoom-out"] .label {
  position: relative;
  display: inline-block;
}
.effeckt-button[data-effeckt-type="zoom-out"][data-loading] .label {
  opacity: 0;
  transform: scale(0.5);
}
.effeckt-button[data-effeckt-type="zoom-out"][data-loading] .spinner {
  opacity: 1;
  transform: none;
}


// Zoom in
.effeckt-button[data-effeckt-type="zoom-in"] {
  overflow: hidden;
}
.effeckt-button[data-effeckt-type="zoom-in"] .spinner {
  left: 50%;
  transform: scale(0.2);
}
.effeckt-button[data-effeckt-type="zoom-in"] .label {
  position: relative;
  display: inline-block;
}

.effeckt-button[data-effeckt-type="zoom-in"][data-loading] .label {
  opacity: 0;
  transform: scale(2.2);
}
.effeckt-button[data-effeckt-type="zoom-in"][data-loading] .spinner {
  opacity: 1;
  transform: none;
}


/*==========================
FILL
==========================*/

@mixin effeckt-button-fill($translateX:0, $translateY:0) {
 overflow: hidden;
   position: relative;
   &:after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background: #000;
     transform: translate($translateX, $translateY);
     transition: transform $effeckt-buttons-transition-duration;
   }
   &:hover {
     &:after {
       transform: translate(0, 0);
     }
   }
   .effeckt-button-label {
     position: relative;
     z-index: 1;
   }
}

// Fill from left
.effeckt-button[data-effeckt-type="fill-from-left"] {
  @include effeckt-button-fill(-100%,0);
}

// Fill from right
.effeckt-button[data-effeckt-type="fill-from-right"] {
  @include effeckt-button-fill(100%,0);
}

// Fill from top
.effeckt-button[data-effeckt-type="fill-from-top"] {
  @include effeckt-button-fill(0,-100%);
}

// Fill from bottom
.effeckt-button[data-effeckt-type="fill-from-bottom"] {
  @include effeckt-button-fill(0,100%);
}


/*==========================
ICON SLIDE

Example markup:
<button class="effeckt-button" data-effeckt-type="icon-slide from-top">
  <span class="effeckt-button-label demo-button-icon">Icon from top</span>
</button>
==========================*/

/// The "effeckt-button-icon" data-URI and "demo-button-icon" class
// are for demo purposes. A user could apply their own class to the
// button's label to designate the icon/image they want sliding in
// and out -- utilizing the :before pseudo-element to place a
// background image or character from an icon font.
$effeckt-button-icon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPCEtLSBHZW5lcmF0b3I6IEljb01vb24uaW8gLS0+IDwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+IDxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGZpbGw9IiNmZmZmZmYiPjxnPjxwYXRoIGQ9Ik0gMTYsMyBDIDEyLjUyOCwzIDkuMjYzLDQuMzUyIDYuODA4LDYuODA4IEMgNC4zNTIsOS4yNjMgMywxMi41MjggMywxNiBDIDMsMTkuNDcyIDQuMzUyLDIyLjczNyA2LjgwOCwyNS4xOTIgQyA5LjI2MywyNy42NDggMTIuNTI4LDI5IDE2LDI5IEMgMTkuNDcyLDI5IDIyLjczNywyNy42NDggMjUuMTkyLDI1LjE5MiBDIDI3LjY0OCwyMi43MzcgMjksMTkuNDcyIDI5LDE2IEMgMjksMTIuNTI4IDI3LjY0OCw5LjI2MyAyNS4xOTIsNi44MDggQyAyMi43MzcsNC4zNTIgMTkuNDcyLDMgMTYsMyBaIE0gMTYsMCBMIDE2LDAgQyAyNC44MzcsMCAzMiw3LjE2MyAzMiwxNiBDIDMyLDI0LjgzNyAyNC44MzcsMzIgMTYsMzIgQyA3LjE2MywzMiAwLDI0LjgzNyAwLDE2IEMgMCw3LjE2MyA3LjE2MywwIDE2LDAgWk0gMTQsMjJMIDE4LDIyTCAxOCwyNkwgMTQsMjZ6TSAxNCw2TCAxOCw2TCAxOCwxOEwgMTQsMTh6Ij48L3BhdGg+PC9nPjwvc3ZnPg==";
.demo-button-icon:before {
  background: url(#{$effeckt-button-icon}) no-repeat center center;
  background-size: 30px;
}

// General styles
.effeckt-button[data-effeckt-type~="icon-slide"] {
  overflow: hidden;
  // Any padding has to be applied to the inner element, instead of the container.
  // So, override the default styling of .effeckt-button from demo.scss.
  padding: 0;
  .effeckt-button-label {
    padding: 0.8rem 1rem; // And re-apply it here.
    display: block;
    position: relative;
    transition: transform $effeckt-buttons-transition-duration;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

// Direction-specific styles
.effeckt-button[data-effeckt-type~="icon-slide"] {
  // From top
  &[data-effeckt-type~="from-top"] .effeckt-button-label:before {
    top: -100%;
    left: 0;
    right: 0;
  }
  // From bottom
  &[data-effeckt-type~="from-bottom"] .effeckt-button-label:before {
    bottom: -100%;
    left: 0;
    right: 0;
  }
  // From left
  &[data-effeckt-type~="from-left"] .effeckt-button-label:before {
    left: -100%;
    top: 0;
    bottom: 0;
  }
  // From left
  &[data-effeckt-type~="from-right"] .effeckt-button-label:before {
    right: -100%;
    top: 0;
    bottom: 0;
  }
}

// Active state -- could be applied to a class or data-attribute, instead,
// to make it JS triggered. Hover is easiest for the demo.
.effeckt-button[data-effeckt-type~="icon-slide"]:hover {
  &[data-effeckt-type~="from-top"] .effeckt-button-label {
    transform: translateY(100%);
  }
  &[data-effeckt-type~="from-bottom"] .effeckt-button-label {
    transform: translateY(-100%);
  }
  &[data-effeckt-type~="from-left"] .effeckt-button-label {
    transform: translateX(100%);
  }
  &[data-effeckt-type~="from-right"] .effeckt-button-label {
    transform: translateX(-100%);
  }
}

// 3D Rotate Success/Error
.effeckt-button[data-effeckt-type="3d-rotate-success"],
.effeckt-button[data-effeckt-type="3d-rotate-error"] {
  transition: all $effeckt-buttons-transition-duration;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

// Hidden side of the button
.effeckt-button[data-effeckt-type="3d-rotate-error"]:before {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  line-height: 2em;
  top: 100%;
  background: #e96a6a;
  color: #a33a3a;
  content: attr(data-effeckt-message);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  backface-visibility: hidden;
}

// JS add's a 'data-loading' attr, which will triger the transition
.effeckt-button[data-effeckt-type="3d-rotate-error"][data-loading] {
  transform-origin: 50% 0%;
  transform: rotateX(90deg) translateY(-100%);
}

// Hidden side of the button
.effeckt-button[data-effeckt-type="3d-rotate-success"]:after {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  line-height: 2em;
  top: -100%;
  background: #7aca7c;
  color: #358337;
  content: attr(data-effeckt-message);
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
  backface-visibility: hidden;
}

// JS add's a 'data-loading' attr, which will triger the transition
.effeckt-button[data-effeckt-type="3d-rotate-success"][data-loading] {
  transform-origin: 50% 100%;
  transform: rotateX(-90deg) translateY(100%);
}

