@import "../_variables";

.effeckt-caption {
  position: relative;
  float: left;
  overflow: hidden;
  &:nth-child(2n) {
    margin-right: 0;
  }
  img {
    transition: $effeckt-caption-transition-duration;
  }
  figcaption {
    position: absolute;
    transition: $effeckt-caption-transition-duration;
    width: 100%;
  }

  // Appear
  &[data-effeckt-type~="effeckt-caption-quarter-show"] {
    figcaption {
      bottom: 0;
      left: 0;
      opacity: 0;
    }
    &:hover, &:active {
      figcaption {
        opacity: 1;
      }
    }
  }


  // Quarter Slide Up
  &[data-effeckt-type~="effeckt-caption-quarter-slide-up"] {
    figcaption {
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: translateY(100%);
    }
    &:hover, &:active {
      figcaption {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }


  // Sqwoosh
  &[data-effeckt-type~="effeckt-caption-sqkwoosh"] {
    figcaption {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: none;
      z-index: 0;
    }
    img {
      position: relative;
      z-index: 1;
      transition-delay: 0.25s;
    }
    .effeckt-figcaption-wrap {
      position: absolute;
      bottom: 1rem;
      opacity: 0;
      transition: opacity 0.25s linear 0s;
    }
    &:hover, &:active {
      .effeckt-figcaption-wrap {
        opacity: 1;
        transition-delay: 0.25s;
      }
      img {
        transform: scale(0.5) translateY(-80px);
        transition-delay: 0;
      }
    }
  }


  // Quarter Slide Right
  &[data-effeckt-type~="effeckt-caption-quarter-slide-right"] {
    figcaption {
      left: 0;
      bottom: 0;
      opacity: 0;
      transform: translateX(100%);
    }
    &:hover, &:active {
      figcaption {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }


  // Cover Fade
  &[data-effeckt-type~="effeckt-caption-cover-fade"] {
    figcaption {
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0;
    }
    &:hover, &:active {
      figcaption {
        opacity: 1;
      }
    }
  }


  // Quarter Fall from Right
  &[data-effeckt-type~="effeckt-caption-quarter-fall-right"] {
    figcaption {
      top: 0;
      left: 0;
      transform: translateX(100%) rotate(20deg);
      opacity: 0;
    }
    &:hover, &:active {
      figcaption {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
      }
    }
  }


  // Quarter Slide Left/Right
  &[data-effeckt-type~="effeckt-caption-quarter-slide-left-right"] {
    figcaption {
      top: 0;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      z-index: 2;
    }
    .effeckt-figcaption-wrap {
      transition: $effeckt-caption-transition-duration $effeckt-caption-transition-duration/2;
      transform: translateX(200%);
    }
    &:hover, &:active {
      figcaption {
        transform: translateX(0);
        opacity: 1;
      }
      .effeckt-figcaption-wrap {
        transform: translateX(0);
      }
    }
  }


  // Cover Push Right
  &[data-effeckt-type~="effeckt-caption-cover-push-right"] {
    figcaption {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-100%);
      opacity: 0;
    }
    img {
      transition: $effeckt-caption-transition-duration;
      transform: translateX(0);
    }
    &:hover, &:active {
      figcaption {
        transform: translateX(0);
        opacity: 1;
      }
      img {
        transform: translateX(100%);
      }
    }
  }

  // Cover Slide Top
  &[data-effeckt-type~="effeckt-caption-cover-slide-top"] {
    figcaption {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateY(-100%);
      opacity: 0;
    }
    img {
      transition: $effeckt-caption-transition-duration;
      // transform: translateY(0);
    }
    &:hover, &:active {
      figcaption {
        transform: translateY(0);
        opacity: 1;
      }
      img {
        // transform: translateY(100%);
      }
    }
  }


  // Quarter Scale In/Out
  &[data-effeckt-type~="effeckt-caption-quarter-scale-in-out"] {
    figcaption {
      top: 0;
      left: 0;
      transform: scale(2);
      text-align: center;
      opacity: 0;
    }
    img {
      transition: $effeckt-caption-transition-duration;
    }
    &:hover, &:active {
      figcaption {
        transform: scale(1);
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
  }


  // Flip Card
  // BUG: Super flickery in Safari 5.1.7 on Windows 7
  // There is a strange behavior here when is on hover state
  &[data-effeckt-type~="effeckt-caption-flip-card"] {
    overflow: visible;
    perspective: 1300px;
    figcaption {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
    img {
      transition: 0.5s;
    }
    &:hover, &:active {
      figcaption {
       transform: rotateY(360deg);
      }
      img {
        transform: rotateY(180deg);
      }
    }
  }

  // Offset to Right/Bottom
  &[data-effeckt-type~="effeckt-caption-offset-right-bottom"] {
    overflow: visible;
    figcaption {
      top: 0;
      left: 0;
      text-align: center;
      opacity: 0;
      height: 100%;
    }
    img {
      transition: $effeckt-caption-transition-duration;
    }
    &:hover, &:active {
      figcaption {
        transform: translate(15px, 15px);
        opacity: 1;
      }
    }
  }
  // Reveal Up
  &[data-effeckt-type~="effeckt-caption-reveal-up"] {
    overflow: visible;
    figcaption {
      top: 0;
      left: 0;
      text-align: center;
      height: 100%;
    }
    img {
      display: block;
      position:relative;
      z-index:10;
      transition: $effeckt-caption-transition-duration;
    }
    &:hover, &:active {
      img {
        transform: translateY(-100%);
      }
    }
  }
  // Slide Half Up
  &[data-effeckt-type~="effeckt-caption-slide-half-up"] {
    figcaption {
      top: 0;
      left: 0;
      text-align: center;
      height: 100%;
      transform: translateY(100%);
    }
    img {
      display: block;
      position:relative;
      transition: $effeckt-caption-transition-duration;
    }
    &:hover, &:active {
      img {
        transform: translateY(-50%);
      }
      figcaption {
        transform: translateY(50%);
      }
    }
  }

  // Tunnel
  &[data-effeckt-type~="effeckt-caption-tunnel"] {
    figcaption {
      top: 0;
      left: 0;
      text-align: center;
      height: 100%;
      opacity: 0;
      transform: scale(0.7);
    }
    img {
      display: block;
      position:relative;
      z-index: 10;
      transition: $effeckt-caption-transition-duration;
    }
    &:hover, &:active {
      img {
        transform: scale(0.4);
      }
      figcaption {
        opacity:1;
        transform: scale(1);
      }
    }
  }
}
