@import "../_variables";
@import "../_mixins";

// Base
.effeckt-caption {
  position: relative;
  float: left;
  overflow: hidden;
  &:nth-child(2n) {
    margin-right: 0;
  }
  img {
    @include transition($effeckt-caption-transition-duration);
  }
  figcaption {
    position: absolute;
    @include transition($effeckt-caption-transition-duration);
    width: 100%;
  }
}


// Effect 1: Appear
.effeckt-caption-1 {
  figcaption {
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  &:hover, &:active {
    figcaption {
      opacity: 1;
    }
  }
}


// Effect 2: Slide Up
.effeckt-caption-2 {
  figcaption {
    bottom: 0;
    left: 0;
    opacity: 0;
    @include transform(translateY(100%));
  }
  &:hover, &:active {
    figcaption {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}


// Effect 3: Sqwoosh
.effeckt-caption-3 {
  figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition(none);
    z-index: 0;
  }
  img {
    position: relative;
    z-index: 1;
    transition-delay: 0.25s;
  }
  .effeckt-figcaption-wrap {
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.25s linear 0s;
  }
  &:hover, &:active {
    .effeckt-figcaption-wrap {
      opacity: 1;
      transition-delay: 0.25s;
    }
    img {
      @include transform(scale(0.5) translateY(-80px));
      @include transition-delay(0);
    }
  }
}


// Effect 4: Slide Side
.effeckt-caption-4 {
  figcaption {
    left: 0;
    bottom: 0;
    opacity: 0;
    @include transform(translateX(100%));
  }
  &:hover, &:active {
    figcaption {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}


// Effect 5: Cover
.effeckt-caption-5 {
  figcaption {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
  }
  &:hover, &:active {
    figcaption {
      opacity: 1;
    }
  }
}


// Effect 6 - Cover First
.effeckt-caption-6 {
  figcaption {
    top: 0;
    left: 0;
    @include transform(translateX(100%) rotate(20deg));
    opacity: 0;
  }
  &:hover, &:active {
    figcaption {
      @include transform(translateX(0) rotate(0deg));
      opacity: 1;
    }
  }
}


// Effect 7 - Cover First
.effeckt-caption-7 {
  figcaption {
    top: 0;
    left: 0;
    @include transform(translateX(-100%));
    opacity: 0;
  }
  .effeckt-figcaption-wrap {
    @include transition($effeckt-caption-transition-duration $effeckt-caption-transition-duration/2);
    @include transform(translateX(200%));
  }
  &:hover, &:active {
    figcaption {
      @include transform(translateX(0));
      opacity: 1;
    }
    .effeckt-figcaption-wrap {
      @include transform(translateX(0));
    }
  }
}


// Effect 8 - Move
.effeckt-caption-8 {
  figcaption {
    top: 0;
    left: 0;
    height: 100%;
    @include transform(translateX(-100%));
    opacity: 0;
  }
  img {
    @include transition($effeckt-caption-transition-duration);
    @include transform(translateX(0));
  }
  &:hover, &:active {
    figcaption {
      @include transform(translateX(0));
      opacity: 1;
    }
    img {
      @include transform(translateX(100%));
    }
  }
}


// Effect 9 - Scale
.effeckt-caption-9 {
  figcaption {
    top: 0;
    left: 0;
    @include transform(scale(2));
    opacity: 0;
    text-align: center;
  }
  img {
    @include transition($effeckt-caption-transition-duration);
  }
  &:hover, &:active {
    figcaption {
      @include transform(scale(1));
      opacity: 1;
    }
    img {
      @include transform(scale(1.1));
    }
  }
}


// Effect 10 - Flip
.effeckt-caption-10 {
  overflow: visible;
  perspective: 1300px;
  figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transform(rotateY(180deg));
    @include backface-visibility(hidden);
  }
  img {
    @include transition(0.5s);
  }
  &:hover, &:active {
    figcaption {
     @include transform(rotateY(360deg));
    }
    img {
      @include transform(rotateY(180deg));
    }
  }
}
