// Base
.effeckt-list-scroll {
  position: relative;
  width: 230px;
  height: 480px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  perspective: 400px;
  > li {
    position: relative;
    padding: 0.5rem;
    background: #eee;
    color: #252525;
    font-size: 18px;
    z-index: 2;
    transform: translateZ(0);
    &:nth-child(odd) {
      background: #e6e6e6;
    }
  }
}


// Grow
[data-effeckt="grow"] li {
  transition: all 600ms ease;
  transform-origin: 50% 50%;
}
[data-effeckt="grow"] li.past {
  transform: scale(0.01);
}
[data-effeckt="grow"] li.future {
  transform: scale(0.01);
}


// Curl
[data-effeckt="curl"] li {
  perspective: 600px;
  perspective-origin: 0% 50%;
}
[data-effeckt="curl"] li {
  transition: all 600ms ease,
  opacity 200ms ease;
  transform-origin: 0% 0%;
  backface-visibility: hidden;
}
[data-effeckt="curl"] li.past {
  opacity: 0;
  transform: rotateY(90deg);
}
[data-effeckt="curl"] li.future {
  opacity: 0;
  transform: rotateY(90deg);
}


// Wave
[data-effeckt="wave"] li {
  transition: all 600ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
[data-effeckt="wave"] li.past {
  transform: translateX(-70%);
}
[data-effeckt="wave"] li.future {
  transform: translateX(-70%);
}


// Fan
[data-effeckt="fan"] li {
  transition: all 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: 0% 0%;
}
[data-effeckt="fan"] li.past {
  transform: rotate(-60deg);
}
[data-effeckt="fan"] li.future {
  transform: rotate(70deg);
}


// Fade
[data-effeckt="fade"] li {
  transition: opacity .35s ease-in-out;
}
[data-effeckt="fade"] li.past {
  opacity: 0;
}
[data-effeckt="fade"] li.future {
  opacity: 0;
}


// Fly
[data-effeckt="fly"] {
  perspective: 400px;
  perspective-origin: 50% 50%;
}
[data-effeckt="fly"] li {
  transition: all 600ms ease, opacity 300ms ease;
  transform-origin: 50% 50% -50px;
}
[data-effeckt="fly"] li.past {
  opacity: 0;
  transform: rotateX(180deg);
}
[data-effeckt="fly"] li.future {
  opacity: 0;
  transform: rotateX(-180deg);
}