// Base
.effeckt-list-scroll {
  position: relative;
  width: 230px;
  height: 480px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  perspective: 400px;
  > li {
    position: relative;
    padding: 0.5rem;
    background: #eee;
    color: #252525;
    font-size: 18px;
    z-index: 2;
    @include transform(translateZ(0));
    &:nth-child(odd) {
      background: #e6e6e6;
    }
  }
}


// Grow
[data-effeckt="grow"] li {
  @include transition(all $effeckt-list-scroll-transition-duration ease);
  @include transform-origin(50% 50%);
  &.past {
    @include transform(scale(0.01));
  }
  &.future {
    @include transform(scale(0.01));
  }
}


// Curl
[data-effeckt="curl"] li {
  perspective: 600px;
  perspective-origin: 0% 50%;
}
[data-effeckt="curl"] li {
  @include transition(all $effeckt-list-scroll-transition-duration ease, opacity $effeckt-list-scroll-transition-duration/3 ease);
  @include transform-origin(0% 0%);
  backface-visibility: hidden;
}
[data-effeckt="curl"] li.past {
  @include opacity(0);
  @include transform(rotateY(90deg));
}
[data-effeckt="curl"] li.future {
  @include opacity(0);
  @include transform(rotateY(90deg));
}


// Wave
[data-effeckt="wave"] li {
  @include transition(all $effeckt-list-scroll-transition-duration cubic-bezier(0.260, 0.860, 0.440, 0.985));
}
[data-effeckt="wave"] li.past {
  @include transform(translateX(-70%));
}
[data-effeckt="wave"] li.future {
  @include transform(translateX(-70%));
}


// Fan
[data-effeckt="fan"] li {
  @include transition(all $effeckt-list-scroll-transition-duration cubic-bezier(0.390, 0.575, 0.565, 1.000));
  @include transform-origin(0% 0%);
  position: relative;
}
[data-effeckt="fan"] li.past {
  @include transform(rotate(-60deg));
}
[data-effeckt="fan"] li.future {
  @include transform(rotate(70deg));
}


// Fade
[data-effeckt="fade"] li {
  @include transition(opacity $effeckt-list-scroll-transition-duration/2 ease-in-out);
}
[data-effeckt="fade"] li.past {
  @include opacity(0);
}
[data-effeckt="fade"] li.future {
  @include opacity(0);
}


// Fly
[data-effeckt="fly"] {
  perspective: 400px;
  perspective-origin: 50% 50%;
}
[data-effeckt="fly"] li {
  @include transition(all $effeckt-list-scroll-transition-duration ease, opacity $effeckt-list-scroll-transition-duration/2 ease);
  @include transform-origin(50% 50% -50px);
}
[data-effeckt="fly"] li.past {
  @include opacity(0);
  @include transform(rotateX(180deg));
}
[data-effeckt="fly"] li.future {
  @include opacity(0);
  @include transform(rotateX(-180deg));
}
