// TODO: Removal Animations as well


.effeckt-list {
  list-style: none;
  li {
    background: #e6e6e6;
    padding: 0 0.5rem;
    overflow: hidden;
    margin-bottom: 2px;
    line-height: 2;
    &.new-item {
      background: #ccc;
    }
  }
}


.effeckt-list[data-type='pop-in'] {
  overflow: hidden;
}
.effeckt-list[data-type='pop-in'] .new-item {
  max-height: 0;
  opacity: 0;
  transform: translateX(-300px);
  animation:
    openSpace 0.2s ease forwards,
    moveIn 0.3s 0.2s ease forwards;
}
@keyframes openSpace {
  to {
    max-height: 50px;
  }
}
@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOut {
  to {
    opacity: 0;
    transform: translateX(-300px);
  }
}
@keyframes closeSpace {
  to {
    max-height: 0px;
  }
}

.effeckt-list[data-type='pop-in'] .remove-item {
  max-height: 50px;
  opacity: 1;
  animation:
    moveOut 0.3s 0.2s ease forwards,
    closeSpace  0.2s ease forwards 0.3s;
}

.effeckt-list[data-type='expand-in'] .new-item {
  max-height: 0;
  opacity: 0;
  transform: scale(0);
  animation: growHeight 0.2s ease forwards;
}
@keyframes growHeight {
  to {
    max-height: 50px;
    opacity: 1;
    transform: scale(1);
  }
}

.effeckt-list[data-type='expand-in'] .remove-item {
  animation: shrinkHeight 0.2s ease forwards;
}
@keyframes shrinkHeight {
  to {
    max-height: 0;
    opacity: 1;
    transform: scale(0);
  }
  from {
    max-height: 50px;
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes flipInX {
  0% {
    transform: perspective(300px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(300px) rotateX(-10deg);
  }
  70% {
    transform: perspective(300px) rotateX(10deg);
  }
  100% {
    transform: perspective(300px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.effeckt-list[data-type='wobble-in'] .new-item {
  backface-visibility: visible;
  animation:
    flipInX 1s both 0.2s,
    openSpace 0.2s ease forwards;
}
.effeckt-toggle__flipOutX {
  animation-name: flipOutX;
}

