/* 
  Styles for the html/body for special modal where we want 3d effects
  Note that we need a container wrapping all content on the page for the 
  perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body  {
  background: #222;
  perspective: 600px;
}


/* 
  Individual modal styles with animations/transitions 
  Prefix this stuff?
*/ 

/* Effect 1: Fade in and scale up */
.md-effect-1  {
  transform: scale(0.5) translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

.effeckt-show.md-effect-1  {
  transform: scale(1) translateX(-25%) translateY(-25%);
  opacity: 1;
}

/* Effect 2: Slide from the right */
.md-effect-2  {
  transform: translateX(-30%) translateY(-50%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.effeckt-show.md-effect-2  {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

/* Effect 3: Slide from the bottom */
.md-effect-3  {
  transform: translateY(-30%) translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
}

.effeckt-show.md-effect-3  {
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

/* Effect 4: Newspaper */
.md-effect-4  {
  transform: scale(0) rotate(720deg) translateY(-50%) translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}

.effeckt-show.md-effect-4 {
  transform: scale(1) rotate(0deg) translateY(-50%) translateX(-50%);
  opacity: 1;
}

/* Effect 5: fall */
.md-effect-5 {
  perspective: 1300px;
  transform-style: preserve-3d;
  transform: translateZ(600px) rotateX(20deg) translateY(-50%) translateX(-50%); 
  opacity: 0;
}

.effeckt-show.md-effect-5 {
  transition: all 0.3s ease-in;
  transform: translateZ(0px) rotateX(0deg) translateY(-50%) translateX(-50%); 
  opacity: 1;
}

/* Effect 6: side fall */
.md-effect-6 {
  perspective: 1300px;
  transform-style: preserve-3d;
  transform: translateZ(600px) rotate(10deg) translateY(-50%) translateX(-50%); 
  opacity: 0;
}

.effeckt-show.md-effect-6 {
  transition: all 0.3s ease-in;
  transform: translateZ(0) rotate(0deg) translateY(-50%) translateX(-50%);
  opacity: 1;
}

/* Effect 7:  slide and stick to top */
.md-effect-7 {
  top: 0;
  transform: translateX(-50%);
}

.md-effect-7  {
  transform: translateY(-200%);
  transition: all .3s;
  opacity: 0;
}

.effeckt-show.md-effect-7 {
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}

/* Effect 8: 3D flip horizontal */
.md-effect-8.md-modal {
  perspective: 1300px;
}

.md-effect-8 {
  transform-style: preserve-3d;
  transform: rotateY(-70deg);
  transition: all 0.3s;
  opacity: 0;
}

.effeckt-show.md-effect-8 {
  transform: rotateY(0deg);
  opacity: 1;
}

/* Effect 9: 3D flip vertical */
.md-effect-9.md-modal {
  perspective: 1300px;
}

.md-effect-9  {
  transform-style: preserve-3d;
  transform: rotateX(-70deg);
  transition: all 0.3s;
  opacity: 0;
}

.effeckt-show.md-effect-9 {
  transform: rotateX(0deg);
  opacity: 1;
}

/* Effect 10: 3D sign */
.md-effect-10.md-modal {
  perspective: 1300px;
}

.md-effect-10 {
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
  transform-origin: 50% 0;
  opacity: 0;
  transition: all 0.3s;
}

.effeckt-show.md-effect-10 {
  transform: rotateX(0deg);
  opacity: 1;
}

/* Effect 11: Super scaled */
.md-effect-11 {
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s;
}

.effeckt-show.md-effect-11 {
  transform: scale(1);
  opacity: 1;
}

/* Effect 12:  Just me */
.md-effect-12 {
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
}

.effeckt-show.md-effect-12 ~ .effeckt-overlay {
  background: #555;
} 

.md-effect-12,
.md-effect-12 h3 {
  background: transparent;
}

.effeckt-show.md-effect-12 {
  transform: scale(1) translateY(-50%) translateX(-50%);
  opacity: 1;
}

/* Effect 13: 3D slit */
.md-effect-13 {
  perspective: 1300px;
  transform-style: preserve-3d;
  transform: translateZ(-3000px) rotateY(90deg) translateY(-50%) translateX(-50%);
  opacity: 0;
}

.effeckt-show.md-effect-13 {
  animation: slit .7s forwards ease-out;
}

@keyframes slit {
  50% { 
    transform: translateZ(-250px) rotateY(89deg) translateY(-50%) translateX(-50%); 
    opacity: 1; 
    animation-timing-function: ease-in;
  }
  100% { 
    transform: translateZ(0) rotateY(0deg) translateY(-50%) translateX(-50%); 
    opacity: 1; 
  }
}

/* Effect 14:  3D Rotate from bottom */
.md-effect-14.md-modal {
  perspective: 1300px;
}

.md-effect-14  {
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(90deg);
  transform-origin: 0 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.effeckt-show.md-effect-14  {
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}

/* Effect 15:  3D Rotate in from left */
.md-effect-15.md-modal {
  perspective: 1300px;
}

.md-effect-15  {
  transform-style: preserve-3d;
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform-origin: 0 100%;
  opacity: 0;
  transition: all 0.3s;
}

.effeckt-show.md-effect-15  {
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}

/* Effect 17:  Slide in from bottom with perspective on container */
.effeckt-show.md-effect-17 ~ .page-wrap {
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s;
} 

.effeckt-show.md-effect-17 ~ .page-wrap,
.effeckt-show.md-effect-17 ~ .effeckt-overlay  {
  transform: rotateX(-2deg);
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

.md-effect-17  {
  opacity: 0;
  transform: translateY(200%) translateX(-50%);
}

.effeckt-show.md-effect-17  {
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
  transition: all 0.3s 0.2s;
}

/* Effect 18:  Slide from right with perspective on container */
.effeckt-show.md-effect-18 ~ .page-wrap {
  height: 100%;
  overflow: hidden;
}

.effeckt-show.md-effect-18 ~ .effeckt-overlay {
  background: rgba(black, 0.2);
  transition: all 0.5s;
}

.effeckt-show.md-effect-18 ~ .page-wrap,
.effeckt-show.md-effect-18 ~ .effeckt-overlay {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.5s forwards ease-in;
}

@keyframes rotateRightSideFirst {
  50% { transform: translateZ(-50px) rotateY(5deg); animation-timing-function: ease-out; }
  100% { transform: translateZ(-200px); }
}

.md-effect-18  {
  transform: translateX(200%);
  opacity: 0;
}

.effeckt-show.md-effect-18  {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s 0.1s;
}

/* Effect 19:  Slip in from the top with perspective on container */
.effeckt-show.md-effect-19 ~ .page-wrap {
  height: 100%;
  overflow: hidden;
}

.effeckt-show.md-effect-19 ~ .effeckt-overlay {
  transition: all 0.5s;
}

.effeckt-show.md-effect-19 ~ .page-wrap,
.effeckt-show.md-effect-19 ~ .effeckt-overlay {
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  animation: OpenTop 0.5s forwards ease-in;
}


@keyframes OpenTop {
  50% { 
    transform: rotateX(10deg); 
    animation-timing-function: ease-out; 
  }
}

.md-effect-19  {
  transform: translateY(-200%);
  opacity: 0;
}

.effeckt-show.md-effect-19  {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s 0.1s;
}

@media screen and (max-width: 32em) {
  body { font-size: 75%; }
}