// Common modal design for all modal effects
.effeckt-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  z-index: 2000;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  backface-visibility: hidden;
  background: white;
  h3 {
    padding: 1rem;
    color: white;
    background: #444;
  }
}
.effeckt-modal-content {
  padding: 1rem;
}


// States
.effeckt-show {
  visibility: visible;
}


// Overlay
.effeckt-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(black, 0.5);
  transition: 0.3s;
}

.effeckt-overlay.effeckt-show {
  opacity: 1;
  visibility: visible;
}
