@import "../_variables";

// Also used in modals
// Class name required for some body 3D effects
// Should probably be renamed, "md" is kinda meaningless
// Perhaps "effeckt-fullpage-perspective"
.md-perspective,
.md-perspective body {
  height: 100%;

  // This is necessary because the scrollbar is
  // weird with this effect, but, it causes
  // jerky behavior when the scrollbar comes and goes.
  overflow: hidden;
}
.md-perspective body  {
  perspective: 600px;
}

.effeckt-off-screen-nav-show {
  visibility: visible;
}


// 1 Left Overlay
.effeckt-off-screen-nav-left-overlay {
  transform: translateX(-100%);
  //preview http://cubic-bezier.com/#.09,.68,0,.99
  transition: $effeckt-off-screen-navigation-transition-duration cubic-bezier(.09,.68,0,.99);
  // preview http://cubic-bezier.com/#.09,.68,0,.99
  &.effeckt-off-screen-nav-show {
    transform: translateX(0);
  }
}


// 2 Left Push
.effeckt-off-screen-nav-left-push {
  // Needs to be fixed size so .page-wrap can move same distance
  transform: translateX(-12rem);
  transition: $effeckt-off-screen-navigation-transition-duration;

  &.effeckt-off-screen-nav-show {
    transform: translateX(0);
    ~ [data-effeckt-page] {
      transform: translateX(12rem);
    }
  }
  ~ [data-effeckt-page] {
    transition: $effeckt-off-screen-navigation-transition-duration;
  }
}


// 3 Left Reveal
.effeckt-off-screen-nav-left-reveal {
  // Needs to be fixed size so .page-wrap can move same distance
  width: 0px;
  transform: translate3D(0, 0, 0);
  transition: $effeckt-off-screen-navigation-transition-duration;
  & h4 {
    width: 10rem;
  }
  &.effeckt-off-screen-nav-show {
    width: 12rem;
    transform: translateX(0);
    ~ [data-effeckt-page] {
      transform: translateX(12rem);
    }
  }
  ~ [data-effeckt-page] {
    transition: $effeckt-off-screen-navigation-transition-duration;
  }
}

// 4 Left Squeeze
.effeckt-off-screen-nav-left-squeeze {
  // Needs to be percentage so can be equal parts with .page-wrap
  width: 40%;
  transform: translateX(-100%);
  transition: $effeckt-off-screen-navigation-transition-duration;
  &.effeckt-off-screen-nav-show {
    transform: translateX(0);
    ~ [data-effeckt-page] {
      width: 60%;
    }
  }
  ~ [data-effeckt-page] {
    transition: width $effeckt-off-screen-navigation-transition-duration;
    max-width: none; // reset from demo
  }
}

// 5 Right Overlay
.effeckt-off-screen-nav-right-overlay {
  right: 0;
  left: auto;
  transform: translateX(100%);
  transition: $effeckt-off-screen-navigation-transition-duration cubic-bezier(.09, .68, 0, .99);
  &.effeckt-off-screen-nav-show {
    transform: translateX(0);
  }
}


// 6 Right Push
.effeckt-off-screen-nav-right-push {
  // Needs to be fixed size so .page-wrap can move same distance
  left: auto;
  right: 0;
  transform: translateX(12rem);
  transition: $effeckt-off-screen-navigation-transition-duration;
  &.effeckt-off-screen-nav-show {
    transform: translateX(0);
    ~ [data-effeckt-page] {
      transform: translateX(-12rem);
    }
  }
  ~ [data-effeckt-page] {
    transition: $effeckt-off-screen-navigation-transition-duration;
  }
}

// 7 Right Reveal
.effeckt-off-screen-nav-right-reveal {
  // Needs to be fixed size so .page-wrap can move same distance
  width: 0;
  overflow: hidden;
  left: auto;
  right: 0;
  transform: translate3D(0, 0, 0);
  transition: $effeckt-off-screen-navigation-transition-duration;
  & h4 {
    width: 10rem;
    position: absolute;
    top: 0px;
    right: 0;
  }
  & ul {
    width: 12rem;
    position: absolute;
    top: 3.2rem;
    right: 0;
  }
  &.effeckt-off-screen-nav-show {
    width: 12rem;
    ~ [data-effeckt-page] {
      transform: translateX(-12rem);
    }
  }
  ~ [data-effeckt-page] {
    transition: $effeckt-off-screen-navigation-transition-duration;
  }
}

// 8 Right Squeeze
.effeckt-off-screen-nav-right-squeeze {
  // Needs to be percentage so can be equal parts with .page-wrap
  left: auto;
  right: 0;
  width: 40%;
  transform: translateX(100%);
  transition: $effeckt-off-screen-navigation-transition-duration;
  &.effeckt-off-screen-nav-show {
    transform: translateX(0);

    ~ [data-effeckt-page] {
      width: 60%;
    }
  }
  ~ [data-effeckt-page] {
    float: left;
    transition: width $effeckt-off-screen-navigation-transition-duration;
    max-width: none; // reset from demo
  }
}


// 9 Rotate
.effeckt-off-screen-nav-rotate {
  transform-origin: 100% 50%;
  transition: $effeckt-off-screen-navigation-transition-duration;
  transform: translateX(-100%) translateX(6px) scale(1.01) rotateY(-30deg);

  &.effeckt-off-screen-nav-show {
    transform: none;

    ~ [data-effeckt-page] {
      transform: translateX(260px) rotateY(15deg);
      // This make the view bigger so when it rotates doesn't look cutted on bottom
      // But NEED to do the same on top.
      height: 200%;
      // Prevent scrolling
      overflow: hidden;
    }

    // dont nest > 3 levels deep
    ~ [data-effeckt-page] .off-screen-nav-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  ~ [data-effeckt-page] {
    transform-origin: 0 50%;
    transition: 0.5s;
  }

  ~ .effeckt-overlay {
    z-index:900;
    visibility: visible;
  }
}