@import "../_variables";

[data-effeckt-page] {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  z-index:0;
  padding: 2rem 4rem 0;

  &.effeckt-page-active {
    visibility: visible;
    z-index:10;
  }

  &.effeckt-page-animating {
    overflow: hidden;
    z-index: 100;
    position: absolute;
  }
}


// Slide From/To Left
.slide-from-left {
  animation: slideFromLeft $effeckt-page-transition-duration forwards ease-in-out;
}
.slide-to-left {
  animation: slideToLeft $effeckt-page-transition-duration forwards ease-in-out;
}

// Slide From/To Right
.slide-from-right {
  animation: slideFromRight $effeckt-page-transition-duration forwards ease-in-out;
}
.slide-to-right {
  animation: slideToRight $effeckt-page-transition-duration forwards ease-in-out;
}

// Slide From/To Top
.slide-from-top {
  animation: slideFromTop $effeckt-page-transition-duration forwards ease-in-out;
}
.slide-to-top {
  animation: slideToTop $effeckt-page-transition-duration forwards ease-in-out;
}

// Slide From/To Bottom
.slide-from-bottom {
  animation: slideFromBottom $effeckt-page-transition-duration forwards ease-in-out;
}
.slide-to-bottom {
  animation: slideToBottom $effeckt-page-transition-duration forwards ease-in-out;
}

//
// Animations
// 

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
}

@keyframes slideToTop {
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
}
@keyframes slideToRight {
  to {
    transform: translateX(100%);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideToBottom {
  to {
    transform: translateY(100%);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
}
@keyframes slideToLeft {
  to {
    transform: translateX(-100%);
  }
}
