@import "../_variables";

[data-effeckt-page] {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  z-index:0;
  padding: 2rem 4rem 0;

  &.effeckt-page-active {
    visibility: visible;
    z-index:10;
  }

  &.effeckt-page-animating {
    overflow: hidden;
    z-index: 100;
    position: absolute;
  }
}

.pages-wrap {

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

//
// Slide From Left
//

.slide-left-in {
  animation: slideInLeft $effeckt-page-transition-duration forwards ease-in-out;
}

.slide-left-out {
  animation: slideOutLeft $effeckt-page-transition-duration forwards ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

//
// Slide From Right
//

.slide-right-in {
  animation: slideInRight 0.7s forwards ease;
}

.slide-right-out {
  animation: slideOutRight 0.7s forwards ease;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}