@import "../_variables";

.effeckt-page-transition.effeckt-page-transition-animating {
  visibility: visible;
}
//Slide Left
.effeckt-page-transition-left-slide-in {
  animation: slideLeftIn $effeckt-page-transition-duration forwards ease-out;
}
.effeckt-page-transition-left-slide-out {
  animation: slideLeftOut $effeckt-page-transition-duration forwards ease-out;
}

@keyframes slideLeftIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeftOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

//Slide Right
.effeckt-page-transition-right-slide-in {
  animation: slideRightIn $effeckt-page-transition-duration forwards ease-out;
}
.effeckt-page-transition-right-slide-out {
  animation: slideRightOut $effeckt-page-transition-duration forwards ease-out;
}

@keyframes slideRightIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRightOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
