@import "../_variables";

.effeckt-positional-modal-wrap {
  position: absolute;
  z-index: 10;
  display: none;

  .effeckt-positional-modal {
    visibility: hidden;
    background-color: #ccc;
    margin-bottom: 15px;
    padding: 10px;
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -10px;
      border-top: 10px solid #ccc;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }
  &.effeckt-front {
    z-index: 20;
  }
}

//zoom
.effeckt-positional-modal {
  opacity:0;
  transition: all 0.3s ease;
  transform: scale(0.5);
}
.effeckt-positional-modal.effeckt-show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}