// __________    __  __               ___                    __________                        ___                   
// `MMMMMMMMM   69MM69MM              `MM                    MMMMMMMMMM                        `MM                   
//  MM      \  6M' 6M' `               MM        /           /   MM   \                         MM                   
//  MM        _MM__MM______     ____   MM   __  /M               MM   _____     __       __     MM   ____     ____   
//  MM    ,   MMMMMMMM6MMMMb   6MMMMb. MM   d' /MMMMM            MM  6MMMMMb   6MMbMMM  6MMbMMM MM  6MMMMb   6MMMMb\ 
//  MMMMMMM    MM  MM6M'  `Mb 6M'   Mb MM  d'   MM               MM 6M'   `Mb 6M'`Mb   6M'`Mb   MM 6M'  `Mb MM'    ` 
//  MM    `    MM  MMMM    MM MM    `' MM d'    MM               MM MM     MM MM  MM   MM  MM   MM MM    MM YM.      
//  MM         MM  MMMMMMMMMM MM       MMdM.    MM               MM MM     MM YM.,M9   YM.,M9   MM MMMMMMMM  YMMMMb  
//  MM         MM  MMMM       MM       MMPYM.   MM               MM MM     MM  YMM9     YMM9    MM MM            `Mb 
//  MM      /  MM  MMYM    d9 YM.   d9 MM  YM.  YM.  ,           MM YM.   ,M9 (M       (M       MM YM    d9 L    ,MM 
// _MMMMMMMMM _MM__MM_YMMMM9   YMMMM9 _MM_  YM._ YMMM9          _MM_ YMMMMM9   YMMMMb.  YMMMMb._MM_ YMMMM9  MYMMMM9  
//                                                                            6M    Yb 6M    Yb                      
//                                                                            YM.   d9 YM.   d9           FlipInOutX            
//                                                                             YMMMM9   YMMMM9     
// ASCII Text to Art Generator
// http://patorjk.com/software/taag


// You might not like what you see here and that's fine.
// Change what you feel to make it awesome. This is purely
// a sketch to begin lighting the fire.
//
// We need a way to include the visibility helpers universally
// for content that is hidden while still maintaining accessibility
// for the text.

// You'll also need to include the 'toggles-flipInOutX.js' file.


// ================================================================= Effeckt - FlipInOutX Variables

$effeckt-toggleFlipInX-fill-mode: both;
$effeckt-toggleFlipInX-duration: 1s;
$effeckt-toggleFlipInX-backface-visibility: visible !important;
$effeckt-toggleFlipOutX-backface-visibility: visible !important;


// ================================================================= Effeckt - FlipInX @Keyframes

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}


// ================================================================= Effeckt - FlipOutX @Keyframes

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}


// ================================================================= Effeckt - FlipInOutX Toggle Classes

// Toggle Content Class
.effeckt-togglecontent__flipInX {
  animation-fill-mode: $effeckt-toggleFlipInX-fill-mode;
  animation-duration: $effeckt-toggleFlipInX-duration;
}

// Toggle Animation Classes
.effeckt-toggle__flipInX {
	backface-visibility: $effeckt-toggleFlipInX-backface-visibility;
	animation-name: flipInX;
}
.effeckt-toggle__flipOutX {
	animation-name: flipOutX;
	backface-visibility: $effeckt-toggleFlipOutX-backface-visibility;
}


// ================================================================= H5BP VISIBILITY HELPERS

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}