[data-effeckt-tooltip-text] {
  position: relative;
}

// probably should make various things into variables, like colors
.effeckt-tooltip-1[data-effeckt-tooltip-text] {
  &::before, &::after {
    opacity: 0;
    transition: 0.2s; // no delay on hover off
  }
  &::after { // text of tooltip
    content: attr(data-effeckt-tooltip-text);
    position: absolute;
    left: 50%;
    transform: translateX(-50%); // horizontal centering
    bottom: 125%;
    border-radius: 10px;
    background: #333;
    color: white;
    padding: 0.45rem 0.8rem;
    font-size: 90%;
    white-space: nowrap;
  }
  &::before { // triangle / speech bubble arrow
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    bottom: 125%;
    margin-bottom: -4px; // one less pixel to prevent occational 1px gap
    left: 50%;
    margin-left: -5px;
  }
  &:hover::before, &:hover::after {
    opacity: 1;
    bottom: 115%;
    transition: 0.2s 0.3s; // slight delay on hover on
  }
}

.effeckt-tooltip-2[data-effeckt-tooltip-text] {
  &::before, &::after {
    opacity: 0;
    transition: 0.2s; // no delay on hover off
  }
  &::after { // text of tooltip
    content: attr(data-effeckt-tooltip-text);
    position: absolute;
    left: 50%;
    transform: translateX(-50%); // horizontal centering
    top: 125%;
    border-radius: 10px;
    background: #333;
    color: white;
    padding: 0.45rem 0.8rem;
    font-size: 90%;
    white-space: nowrap;
  }
  &::before { // triangle / speech bubble arrow
    content: "";
    width: 0;
    height: 0;
    border-bottom: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 125%;
    margin-top: -4px; // one less pixel to prevent occational 1px gap
    left: 50%;
    margin-left: -5px;
  }
  &:hover::before, &:hover::after {
    opacity: 1;
    top: 115%;
    transition: 0.2s 0.3s; // slight delay on hover on
  }
}